<!-- Titulo del Encabezado -->
<nav class="navbar navbar-expand-lg navbar-light bg-transparent">
  <a class="navbar-brand" href="#">
    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#697475" class="bi bi-chevron-left" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
    </svg>
  </a>
  <div class="container">
    <span class="navbar-text col-12" >HORARIO Y UBICACIÓN</span>
  </div>
</nav>
  <!-- Contenedor del mapa y texto Direccion y Horario -->
  <DIV class="container xd">
    <iframe src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d3740.0700851627835!2d-90.05997492476098!3d20.379999981111915!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zMjDCsDIyJzQ4LjAiTiA5MMKwMDMnMjYuNiJX!5e0!3m2!1ses-419!2smx!4v1694702317930!5m2!1ses-419!2smx"  loading="lazy" referrerpolicy="no-referrer-when-downgrade" class="maps"></iframe>
    <DIV class="txt">
      <H2 class="hrs">Dirección</H2>
      <P>
        C. 7 6080, Fátima. <BR>
        C.P. 24920 <BR>
        Calkiní, Campeche, Mexico
      </P>
      <H2 id="h" class="hrs">
        Horario
      </H2>
      <P>
        Lunes a Viernes<BR>
        07:30a.m. — 02:00p.m. <BR>
        04:00p.m. — 08:30p.m. <BR>
        Sabados <BR>
        09:00a.m. — 04:00p.m.
      </P>
    </DIV>
  </DIV>