<h3>OFICINA</h3>
<nav aria-label="breadcrumb" class="nav-xD d-flex justify-content-center">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/catalogos/arte">Arte</a></li>
      <li class="breadcrumb-item"><a href="/catalogos/escolares">Escolares</a></li>
      <li class="breadcrumb-item"><a class="item-s" href="/catalogos/oficina">Oficina</a></li>
      <li class="breadcrumb-item"><a href="/catalogos/manualidades">Manualidades</a></li>
      <li class="breadcrumb-item"><a href="/catalogos/lapices">Lápices</a></li>
      <li class="breadcrumb-item"><a href="/catalogos/papel">Papel</a></li>
      <li class="breadcrumb-item"><a href="/catalogos/didacticos">Didácticos</a></li>
      <li class="breadcrumb-item"><a href="/catalogos/adhesivos">Adhesivos</a></li>
    </ol>
  </nav>
<br>
<div>
  <div class="container cont-1">
      <div class="row">
        <div class="col-lg-2 col-md-4 col-sm-6 col-12">
          <div class="card">
              <img src="assets/img/catálogo/productos/Ofice-1.png" class="card-img-top img-1" alt="...">
              <div class="card-body">
                <h5 class="card-title">Engrapadora PILOT Estándar</h5>
                <p class="card-text price">$165.00</p>
              </div>
              <div class="icon">
                <button type="button" class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="Añadir a la lista de deseos">
                    <img src="assets/img/corazón.svg" alt="">
                  </button>
              </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6 col-12">
          <div class="card">
              <img src="assets/img/catálogo/productos/Ofice-2.png" class="card-img-top img-2" alt="...">
              <div class="card-body">
                  <h5 class="card-title">Engrapadora MAPED VIVO mini</h5>
                  <p class="card-text price">$66.00</p>
              </div>
              <div class="icon">
                <button type="button" class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="Añadir a la lista de deseos">
                    <img src="assets/img/corazón.svg" alt="">
                  </button>
              </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6 col-12">
          <div class="card">
              <img src="assets/img/catálogo/productos/Ofice-3.png" class="card-img-top img-3" alt="...">
              <div class="card-body">
                  <h5 class="card-title">Clip reversible metálico</h5>
                  <p class="card-text price">$19.00</p>
              </div>
              <div class="icon">
                <button type="button" class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="Añadir a la lista de deseos">
                    <img src="assets/img/corazón.svg" alt="">
                  </button>
              </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6 col-12">
          <div class="card">
              <img src="assets/img/catálogo/productos/Ofice-4.png" class="card-img-top img-4" alt="...">
              <div class="card-body">
                  <h5 class="card-title">Tabla sujetapapel tamaño carta</h5>
                  <p class="card-text price">$58.00</p>
              </div>
              <div class="icon">
                <button type="button" class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="Añadir a la lista de deseos">
                    <img src="assets/img/corazón.svg" alt="">
                  </button>
              </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6 col-12">
          <div class="card">
              <img src="assets/img/catálogo/productos/Ofice-5.PNG" class="card-img-top img-5" alt="...">
              <div class="card-body">
                  <h5 class="card-title">Portadocumentos verde tamaño carta con broche KIEL</h5>
                  <p class="card-text price">$19.00</p>
              </div>
              <div class="icon">
                <button type="button" class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="Añadir a la lista de deseos">
                    <img src="assets/img/corazón.svg" alt="">
                  </button>
              </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6 col-12">
          <div class="card">
              <img src="assets/img/catálogo/productos/Ofice-6.PNG" class="card-img-top img-6" alt="...">
              <div class="card-body">
                <h5 class="card-title">Portadocumentos rojo tamaño carta con broche KIEL</h5>
                <p class="card-text price">$19.00</p>
              </div>
              <div class="icon">
                <button type="button" class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="Añadir a la lista de deseos">
                    <img src="assets/img/corazón.svg" alt="">
                  </button>
              </div>
            </div>
        </div>
      </div>
  </div>
  <div class="container cont-1">
    <div class="row">
      <div class="col-lg-2 col-md-4 col-sm-6 col-12">
        <div class="card">
            <img src="assets/img/catálogo/productos/Ofice-1.png" class="card-img-top img-1" alt="...">
            <div class="card-body">
              <h5 class="card-title">Engrapadora PILOT Estándar</h5>
              <p class="card-text price">$165.00</p>
            </div>
            <div class="icon">
              <button type="button" class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="Añadir a la lista de deseos">
                  <img src="assets/img/corazón.svg" alt="">
                </button>
            </div>
          </div>
      </div>
      <div class="col-lg-2 col-md-4 col-sm-6 col-12">
        <div class="card">
            <img src="assets/img/catálogo/productos/Ofice-2.png" class="card-img-top img-2" alt="...">
            <div class="card-body">
                <h5 class="card-title">Engrapadora MAPED VIVO mini</h5>
                <p class="card-text price">$66.00</p>
            </div>
            <div class="icon">
              <button type="button" class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="Añadir a la lista de deseos">
                  <img src="assets/img/corazón.svg" alt="">
                </button>
            </div>
          </div>
      </div>
      <div class="col-lg-2 col-md-4 col-sm-6 col-12">
        <div class="card">
            <img src="assets/img/catálogo/productos/Ofice-3.png" class="card-img-top img-3" alt="...">
            <div class="card-body">
                <h5 class="card-title">Clip reversible metálico</h5>
                <p class="card-text price">$19.00</p>
            </div>
            <div class="icon">
              <button type="button" class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="Añadir a la lista de deseos">
                  <img src="assets/img/corazón.svg" alt="">
                </button>
            </div>
          </div>
      </div>
      <div class="col-lg-2 col-md-4 col-sm-6 col-12">
        <div class="card">
            <img src="assets/img/catálogo/productos/Ofice-4.png" class="card-img-top img-4" alt="...">
            <div class="card-body">
                <h5 class="card-title">Tabla sujetapapel tamaño carta</h5>
                <p class="card-text price">$58.00</p>
            </div>
            <div class="icon">
              <button type="button" class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="Añadir a la lista de deseos">
                  <img src="assets/img/corazón.svg" alt="">
                </button>
            </div>
          </div>
      </div>
      <div class="col-lg-2 col-md-4 col-sm-6 col-12">
        <div class="card">
            <img src="assets/img/catálogo/productos/Ofice-5.PNG" class="card-img-top img-5" alt="...">
            <div class="card-body">
                <h5 class="card-title">Portadocumentos verde tamaño carta con broche KIEL</h5>
                <p class="card-text price">$19.00</p>
            </div>
            <div class="icon">
              <button type="button" class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="Añadir a la lista de deseos">
                  <img src="assets/img/corazón.svg" alt="">
                </button>
            </div>
          </div>
      </div>
      <div class="col-lg-2 col-md-4 col-sm-6 col-12">
        <div class="card">
            <img src="assets/img/catálogo/productos/Ofice-6.PNG" class="card-img-top img-6" alt="...">
            <div class="card-body">
              <h5 class="card-title">Portadocumentos rojo tamaño carta con broche KIEL</h5>
              <p class="card-text price">$19.00</p>
            </div>
            <div class="icon">
              <button type="button" class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="Añadir a la lista de deseos">
                  <img src="assets/img/corazón.svg" alt="">
                </button>
            </div>
          </div>
      </div>
    </div>
</div>
<div class="container cont-1">
  <div class="row">
    <div class="col-lg-2 col-md-4 col-sm-6 col-12">
      <div class="card">
          <img src="assets/img/catálogo/productos/Ofice-1.png" class="card-img-top img-1" alt="...">
          <div class="card-body">
            <h5 class="card-title">Engrapadora PILOT Estándar</h5>
            <p class="card-text price">$165.00</p>
          </div>
          <div class="icon">
            <button type="button" class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="Añadir a la lista de deseos">
                <img src="assets/img/corazón.svg" alt="">
              </button>
          </div>
        </div>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-6 col-12">
      <div class="card">
          <img src="assets/img/catálogo/productos/Ofice-2.png" class="card-img-top img-2" alt="...">
          <div class="card-body">
              <h5 class="card-title">Engrapadora MAPED VIVO mini</h5>
              <p class="card-text price">$66.00</p>
          </div>
          <div class="icon">
            <button type="button" class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="Añadir a la lista de deseos">
                <img src="assets/img/corazón.svg" alt="">
              </button>
          </div>
        </div>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-6 col-12">
      <div class="card">
          <img src="assets/img/catálogo/productos/Ofice-3.png" class="card-img-top img-3" alt="...">
          <div class="card-body">
              <h5 class="card-title">Clip reversible metálico</h5>
              <p class="card-text price">$19.00</p>
          </div>
          <div class="icon">
            <button type="button" class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="Añadir a la lista de deseos">
                <img src="assets/img/corazón.svg" alt="">
              </button>
          </div>
        </div>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-6 col-12">
      <div class="card">
          <img src="assets/img/catálogo/productos/Ofice-4.png" class="card-img-top img-4" alt="...">
          <div class="card-body">
              <h5 class="card-title">Tabla sujetapapel tamaño carta</h5>
              <p class="card-text price">$58.00</p>
          </div>
          <div class="icon">
            <button type="button" class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="Añadir a la lista de deseos">
                <img src="assets/img/corazón.svg" alt="">
              </button>
          </div>
        </div>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-6 col-12">
      <div class="card">
          <img src="assets/img/catálogo/productos/Ofice-5.PNG" class="card-img-top img-5" alt="...">
          <div class="card-body">
              <h5 class="card-title">Portadocumentos verde tamaño carta con broche KIEL</h5>
              <p class="card-text price">$19.00</p>
          </div>
          <div class="icon">
            <button type="button" class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="Añadir a la lista de deseos">
                <img src="assets/img/corazón.svg" alt="">
              </button>
          </div>
        </div>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-6 col-12">
      <div class="card">
          <img src="assets/img/catálogo/productos/Ofice-6.PNG" class="card-img-top img-6" alt="...">
          <div class="card-body">
            <h5 class="card-title">Portadocumentos rojo tamaño carta con broche KIEL</h5>
            <p class="card-text price">$19.00</p>
          </div>
          <div class="icon">
            <button type="button" class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="Añadir a la lista de deseos">
                <img src="assets/img/corazón.svg" alt="">
              </button>
          </div>
        </div>
    </div>
  </div>
</div>
</div>