<nav aria-label="breadcrumb" class="nav-xD d-flex justify-content-center"  >
    <ol class="breadcrumb">
      <li class="breadcrumb-item" (click)="mostrarSeccion1Click()">Arte</li>
      <li class="breadcrumb-item" (click)="mostrarSeccion2Click()">Escolares</li>
      <li class="breadcrumb-item" (click)="mostrarSeccion3Click()">Oficina</li>
      <li class="breadcrumb-item" (click)="mostrarSeccion4Click()">Papel</li>
      <li class="breadcrumb-item" (click)="mostrarSeccion5Click()">Escritura</li>
      <li class="breadcrumb-item" (click)="mostrarSeccion6Click()">Didácticos</li>
      <li class="breadcrumb-item" (click)="mostrarSeccion7Click()">Manualidades</li>
      <li class="breadcrumb-item" (click)="mostrarSeccion8Click()">Adhesivos</li>
    </ol>
</nav>
<!-- Categorias-->
<div *ngIf="sharedService.mostrarSeccion1">
    <h3>Artes</h3>
    <div class="card-grid">
        <app-card [detallesP]="datallesCard" *ngFor="let datallesCard of arteCards"></app-card>
    </div>
</div>
<div *ngIf="sharedService.mostrarSeccion2">
    <h3>Escolares</h3>
    <div class="card-grid">
        <app-card [detallesP]="datallesCard" *ngFor="let datallesCard of escolarCards"></app-card>
    </div>
</div>
<div *ngIf="sharedService.mostrarSeccion3">
    <h3>Oficina</h3>
    <div class="card-grid">
        <app-card [detallesP]="datallesCard" *ngFor="let datallesCard of officeCards"></app-card>
    </div>
</div>
<div *ngIf="sharedService.mostrarSeccion4">
    <h3>Papel</h3>
    <div class="card-grid">
        <app-card [detallesP]="datallesCard" *ngFor="let datallesCard of papelCards"></app-card>
    </div>
</div>
<div *ngIf="sharedService.mostrarSeccion5">
    <h3>Escritura</h3>
    <div class="card-grid">
        <app-card [detallesP]="datallesCard" *ngFor="let datallesCard of lapizCards"></app-card>
    </div>
</div>
<div *ngIf="sharedService.mostrarSeccion6">
    <h3>Didácticos</h3>
    <div class="card-grid">
        <app-card [detallesP]="datallesCard" *ngFor="let datallesCard of didacticoCards"></app-card>
    </div>
</div>
<div *ngIf="sharedService.mostrarSeccion7">
    <h3>Manualidades</h3>
    <div class="card-grid">
        <app-card [detallesP]="datallesCard" *ngFor="let datallesCard of manualidadesCards"></app-card>
    </div>
</div>
<div *ngIf="sharedService.mostrarSeccion8">
    <h3>Adhesivos</h3>
    <div class="card-grid">
        <app-card [detallesP]="datallesCard" *ngFor="let datallesCard of adheCards"></app-card>
    </div>
</div>
