<div class="container">
    <div class="img">
        <img src="https://http2.mlstatic.com/D_NQ_NP_2X_696020-MLU54959426707_042023-F.webp" alt="">
    </div>
    <div class="textoC">
        <div class="name">
            <p class="nameP info">Memoria USB Kingston DataTraveler 100 G3 DT100G3 128GB 3.0 negro</p>
        </div>
        <div class="pago">
            <p class="precio info">
                $ 1,169
            </p>
            <p class="formaP info">
                Hasta 12 mensualidades fijas de $246.07
            </p>
        </div>
        <div class="stocks">
            <p class="piezas info">15 piezas disponibles</p>
        </div>
        <div class="cant-buy">
            <label for="" class="cant info">Cantidad</label>
            <select name="" id="select">
                <option value="">1</option>
                <option value="">2</option>
                <option value="">3</option>
                <option value="">4</option>
                <option value="">5</option>
            </select>
        </div>
        <div class="push">
            <!-- <a href="home/info.product" class="link">
                <button class="click" id="enviar" (click)="showModal()">Comprar</button>
            </a> -->
        </div>
    </div>
</div>
<div class="cont-desp">
    <div class="cont-text">
        <h1 class="desp-title">
            Descripción
        </h1>
        <p class="description">
            Facilita el acceso a portátiles, equipos de sobremesa, monitores y otros dispositivos digitales.<br>
            DT Exodia permite rápidas transferencias y facilita el almacenamiento de documentos, música, vídeo y mucho más.<br>
            Por su práctico diseño y modernos colores, son ideales para el uso diario en el trabajo, el hogar, los estudios o dondequiera que lleve sus datos.<br>
            <br>
            Capacidades: 128gb<br>
            Velocidad; USB 3.2 Gen 1<br>
            Dimensiones: 67,3 mm x 21,04 mm x 10,14 mm<br>
            Peso: 11g<br>
            Marca: Kingston<br>
            Compatible con:Windows® 10, 8.1, 8, Mac OS (v.10.10.x +), Linux (v. 2.6.x +), Chrome™ OS<br>
        </p>
    </div>
</div>