<div class="container">
    <!-- Apartado de la imagen -->
    <div class="img">
        <img src="{{infoProduct[pos].image}}" alt="">
    </div>
    <!-- Apartado donde se muestra el precio, nombre, etc -->
    <div class="textoC">
        <div class="name">
            <p class="nameP info">{{infoProduct[pos].name}}</p>
        </div>
        <div class="pago">
            <p class="oferta info">
                MNX ${{infoProduct[pos].precioAnt}}
            </p>
            <p class="precio info">
                MXN ${{infoProduct[pos].precio}}
            </p>
        </div>
        <div class="stocks">
            <p class="piezas info">{{stockD}}</p>
        </div>
        <div class="marca info">
            <p class="marcaP">
                Marca: {{infoProduct[pos].marca}}
            </p>
        </div>
        <div class="cant-buy">
            <label for="" class="cant info">Cantidad</label>
            <select name="" id="select">
                <option value="">1</option>
                <option value="">2</option>
                <option value="">3</option>
                <option value="">4</option>
                <option value="">5</option>
            </select>
        </div>
        <div class="push">
            <!-- <a href="home/info.product" class="link">
                
            </a> -->
            <button class="click" id="enviar" onclick="mialerta()">Comprar</button>
        </div>
    </div>
</div>
<div class="cont-desp">
    <div class="cont-text">
        <h1 class="desp-title">
            Descripción
        </h1>
        <p class="description">
            {{infoProduct[pos].descripcion}}
        </p>
    </div>
</div>
<div>
    <input type="number" [(ngModel)]="pos" maxlength="1">
</div>
<!-- <div>
    {{infoProduct[0] | json}} <br><br> Trae el array del objeto de la posicion 0
    {{infoProduct[0].imagen}} <br><br> Trar la imagen de la posicion 0 del objeto
    {{infoProduct | json}} Trae todos los arreglos del Array
</div> -->