//Estilos del formulario
.containerForm .promoDiv .promo{
    margin-right: 10px;
}
.containerForm .promoDiv .actPromo{
    display: none;
}
//Estilo de diseño de los contenedores
.containerForm{
    width: 90%;
    height: 95%;
    //max-height: 800px;
    max-width: 1000px;
    margin: auto;
    position: relative;
}
.containerForm .buttons{
    /*position: absolute;
    bottom: 0;
    right: 0;*/
    width: 100%;
    text-align: right;
    margin-top: 10px;
}
.containerForm .buttons button{
    margin: 5px;
}
.texto{
    margin-bottom: 2%;
}    
//Contenedor Texto(Parte 1)
.parte1{
    width: 100%;
    max-width: 600px;
    height: 400px;
    padding: 5px 10px;
    //background: #000;
}

@media screen and (max-height:900px){
    .buttons button{
        width: 85%;
    }
    
}

//Estilos de div capturar imagen
.cargarImagen{
    width: 300px;
    height: 400px;
    //background: #000;
    padding: 5px;
    border: 2px dashed #D7DBDD;
    text-align: center;
}
.addimg, .capFile{
    width: 90%;
}
.addimg{
    margin: auto;
}
.capFile img{
    width: 250px;
    height: 50%;
    max-height: 350px;
    border-radius: 5%;
    //border: 2px solid #000;
    margin: 0 15px;
    //vertical-align: middle;
}
.capFile{
    margin-top: 7px;
    // vertical-align: middle;
    //max-height: 340px;
    //background: #000;
}
.cargarImagen, .parte1{
    display: inline-block;
}
.contenedorImgText{
    width: 100%;
    max-height: 400px;
    display: inline-flex;
    margin-bottom: 10px;
}

//Estilo Button
.upload{
    width: 100%;
    background: #0DCAF0;
    border: none;
    cursor: pointer;
    padding: 2px 0;
    // position: relative;
    display: flex;
    border-radius: 7px;
    justify-content: center;
    max-width: 250px;
}
.upload:hover{
    background: #4DDDFA;
}

.addimg input[type="file"]{
    display: none;
}
.btnState:hover{
    box-shadow: 2px 0px 10px rgba(13, 164, 240, 1);
}
.btnCancel:hover{
    box-shadow: 2px 0px 10px rgba(226, 68, 83, 1);
}
//Estilos label
.parte1 label{
    width: 85px;
    font-size: 18px;    
    margin: 0px 15px;
}
.parte1 #name,
.parte1 #brand,
.parte1 #stock,
.parte1 #price,
.addDescp #descp{
    width: 100%;
    padding: 2px 3px;
    border-radius: 3px;
    border: 2px solid transparent;
    transition: .3s ease all;
}
.parte1 #name:focus,
.parte1 #brand:focus,
.parte1 #stock:focus,
.parte1 #price:focus,
.addDescp #descp:focus{
    border: 2px solid #0075FF;
    outline: none;
    box-shadow: 3px 0px 15px rgba(163, 163, 163,0.4);
    transition: .3s ease all;
}
.config{
    margin: 5px 0;
}
//Estilos promo
.promoDiv .switch-product,
.promoDiv .actPromo{
    margin-left: 20px;
}
.promoDiv{
    width: 100%;
    max-width: 600px;
}
.promoDiv .actPromo #desc{
    width: 110px;
    margin: 0;
}
.promoDiv .actPromo #desc2{
    width: 80%;
    padding: 2px 3px;
}
//Estilos Fomulario Parte 2
.formulario{
    width: 100%;
    max-height: 250px;
    display: inline-flex;
    margin-bottom: 35px;
}
.formulario .CatSelect,
.formulario .addDescp{
    display: inline-block;
}
.formulario .CatSelect{
    margin-right: 25px;
}
.formulario .addDescp label{
    font-size: 18px;
    margin: 0 15px;
    margin-bottom: 15px;
}
.formulario .addDescp #descp{
    width: 100%;
    padding: 2px 3px;
    height: 200px;
    margin-left: 15px;
}
.formulario .addDescp{
    width: 100%;
    max-width: 600px;
}
//Estilos validacion
.formName{
    position: relative;
    width: 80%;
    margin: 0;
    margin-left: 15px;
}
.msjError{
    font-size: 10px;
    margin: 0 15px;
    color: #ff0000;
    display: none;
}
.msjError-activo{
    display: block;
}
.fomrState{
    position: absolute;
    right: 10px;
    bottom: 8px;
    z-index: 100;
    opacity: 0;
}
.txtMsj{
    width: 100%;
    height: 45px;
    line-height: 45px;
    background: #F66060;
    border-radius: 5px;
    text-align: center;
    display: none;
}
.FromGrup-error label,
.FromGrup-error .fomrState{
    color: #BB2929;
    opacity: 1;
}
.FromGrup-error #name,
.FromGrup-error #brand,
.FromGrup-error #price,
.FromGrup-error #stock,
.FromGrup-error #descp{
    border: 1.5px solid #BB2929;
    margin: 0;
}