<h1 class="tittle">{{status ? 'Editar Producto' : 'Agregar Producto'}}</h1>
<br>


<div class="containerForm">
    <!-- Formulario de Imagen y Add Product -->
    <div class="contenedorImgText">
        <!-- Contenedor de la Imagen y Button -->
            <div class="cargarImagen">
                <!-- Capturar archivos -->
                <div class="addimg">
                    <input type="file" name="addimg" id="file" (change)="capFile($event)" accept="image/*" onchange="return validFile()" required>
                    <!-- <button class="upload">Subir imagen</button> -->
                    <label for="file" class="upload">{{status ? 'Editar Imagen' : 'Seleccionar Imagen'}}</label>
                </div>
                <!-- PREVIEW IMAGE SELECT -->
                <div class="capFile" *ngIf="status && !preview">
                    <img src="{{producto.image}}" alt="">
                </div>
                <div class="capFile" *ngIf="preview" id="capFile">
                    <img [src]="preview" alt="">
                </div>
            </div>

        <!-- Contenedor de producto parte 1 -->
        <div class="parte1">
            <!-- Nombre -->
            <div class="input-group mb-3 nombreP config">
                <label class="form-label" for="name">Nombre:</label>
                <input class="form-control" id="name" name="name" maxlength="20" placeholder="Ej. Cuaderno Profesional" [(ngModel)]="producto.name" (ngModelChange)="producto.name"
                [ngModelOptions]="{standalone: true}" required>
                <!--input class="form-control" type="text" id="name" name="name" [(ngModel)]="newProducto.name" maxlength="20" placeholder="Ej. Cuaderno Profesional" *ngIf="!status" required-->
            </div>

            <!-- Marca -->
            <div class="input-group mb-3 marcaP config">
                <label class="form-label" for="brand">Marca:</label>
                <input class="form-control" type="text" id="brand" name="brand" maxlength="10" placeholder="Ej. Scribe"  [(ngModel)]="producto.brand"  (ngModelChange)="producto.brand"
                    [ngModelOptions]="{standalone: true}" required>
                <!--input class="form-control" type="text" id="brand" name="brand" [(ngModel)]="newProducto.brand" maxlength="10" placeholder="Ej. Scribe" *ngIf="!status" required-->
            </div>
            <!-- Precio Adquisición-->
            <div class="input-group col-md-6 precioP config">
                <label class="form-label" for="priceA" name="priceA">PDA:</label>
                <span class="input-group-text">$</span>
                <input class="form-control" type="text" id="priceA" name="priceA" placeholder="42.99" [(ngModel)]="producto.PDA"  disabled>
            </div> 

            <!-- Precio -->
            <div class="input-group col-md-6precioP config">
                <label class="form-label" for="price" name="price">Precio:</label>
                <span class="input-group-text">$</span>
                <input class="form-control" type="text" id="price" name="price" maxlength="10" placeholder="00.00" [(ngModel)]="producto.price"  (ngModelChange)="producto.price"
                    [ngModelOptions]="{standalone: true}" required>
                <!--input class="form-control" type="text" id="price" name="price" [(ngModel)]="newProducto.price" maxlength="10" placeholder="85.00" *ngIf="!status" required-->
            </div> 

            <!-- Stocks -->
            <div class="input-group mb-3 stockP config">
                <label class="form-label" for="stock">Stock:</label>
                <input class="form-control" type="text" inputmode="numeric" name="stocks" maxlength="10" id="stock" *ngIf="status" [(ngModel)]="producto.stock"  (ngModelChange)="producto.stock"
                [ngModelOptions]="{standalone: true}" required>
            <input class="form-control" type="text" inputmode="numeric" id="stock" [(ngModel)]="newProducto.stock" name="stocks" maxlength="10" placeholder="Ej. 48" *ngIf="!status" required>
            </div>

            <!-- Interuptor de Promocion -->
            <div class="promoDiv">
                <div class="form-check form-switch switch-product">
                    <label for="flexSwitchCheckDefault" class="form-check-label">Promocion</label>
                    <input type="checkbox" class="form-check-input" [(ngModel)]="newProducto.promo" role="switch" id="flexSwitchCheckDefault">
                </div>
                <!-- En caso de tener desceunto mostrar el div -->
                <div class="input-group mb-3 config">
                    <label class="form-label" for="desc2" name="price">Dto:</label>
                    <span class="input-group-text">$</span>
                    <input class="form-control" type="text" maxlength="10" name="promo2" id="desc2" *ngIf="status && producto.promo" [(ngModel)]="producto.pricePromo" (ngModelChange)="producto.brand"
                        [ngModelOptions]="{standalone: true}">
                    <input class="form-control" type="text" maxlength="10" name="promo2" id="desc2" [(ngModel)]="newProducto.pricePromo" placeholder="00.00" *ngIf="status && !producto.promo">
                    <input class="form-control" type="text"  maxlength="10" name="promo2" id="desc2" [(ngModel)]="newProducto.pricePromo" placeholder="70.50" *ngIf="!status">
                </div> 

            </div>
            <!-- Descripcion de Producto-->
            <div class="addDescp">
                <label for="descp" class="descripcion">Descripcion:</label>
                <textarea class="form-control" name="descp" id="descp" rows="3"*ngIf="status" [(ngModel)]="producto.description" (ngModelChange)="producto.description" [ngModelOptions]="{standalone: true}" required></textarea>
                <textarea class="form-control" name="descp" id="descp" rows="3"[(ngModel)]="newProducto.description" maxlength="150" *ngIf="!status" required></textarea>
            </div>

        </div>
    </div>

    <!-- Formulario de Agregar Producto -->
    <div class="formulario">
            <!-- Seleccion de Categorias -->
            <div class="CatSelect">
                <label for="catSelect">Selecciona la opción categoria:</label>
                <div class="checkCat">
                    <!-- Categoria de los productos -->
                    <div class="form-check">
                        <input type="checkbox" name="papel" id="flexCheckDefault1" class="form-check-input"  value="" [ngModel]="idArray.includes(1)" (ngModelChange)="toggleCategory(1)">
                        <label for="promo" class="form-check-label" for="flexCheckDefault">Papel</label>
                    </div>   
                    
                    <div class="form-check">
                        <input type="checkbox" name="escolar" id="flexCheckDefault2" class="form-check-input" value="" [ngModel]="idArray.includes(2)" (ngModelChange)="toggleCategory(2)">
                        <label for="promo" class="form-check-label">Escolares</label>
                    </div>

                    <div class="form-check">
                        <input type="checkbox" name="arte " id="flexCheckDefault3" class="form-check-input" value="" [ngModel]="idArray.includes(3)" (ngModelChange)="toggleCategory(3)">
                        <label class="form-check-label" for="flexCheckDefault">Artes</label>
                    </div>
                    
                    <div class="form-check">
                        <input type="checkbox" name="promo" id="flexCheckDefault4" class="form-check-input" value="" [ngModel]="idArray.includes(4)" (ngModelChange)="toggleCategory(4)">
                        <label class="form-check-label" for="flexCheckDefault">Escritura</label>
                    </div>
                    
                    <div class="form-check">
                        <input type="checkbox" name="promo" id="flexCheckDefault5" class="form-check-input" value="" [ngModel]="idArray.includes(5)" (ngModelChange)="toggleCategory(5)">
                        <label class="form-check-label" for="flexCheckDefault">Oficina</label>
                    </div>
                    
                    <div class="form-check">
                        <input type="checkbox" name="promo" id="flexCheckDefault6" class="form-check-input" value="" [ngModel]="idArray.includes(6)" (ngModelChange)="toggleCategory(6)">
                        <label class="form-check-label" for="flexCheckDefault">Manualidades</label>
                    </div>
                    
                    <div class="form-check">
                        <input type="checkbox" name="promo" id="flexCheckDefault7" class="form-check-input" value="" [ngModel]="idArray.includes(7)" (ngModelChange)="toggleCategory(7)">
                        <label class="form-check-label" for="flexCheckDefault">Didácticos</label>
                    </div>
                    
                    <div class="form-check">
                        <input type="checkbox" name="promo" id="flexCheckDefault8" class="form-check-input" value="" [ngModel]="idArray.includes(8)" (ngModelChange)="toggleCategory(8)">
                        <label class="form-check-label" for="flexCheckDefault">Adhesivos</label>
                    </div>
                </div>
            </div>
            <!-- Contenido Descripcion -->
    </div>

    <div class="buttons">
        <button type="button" class="btn btn-success" (click)="newOrEditeProduct()">{{status ? 'Actualizar' : 'Agregar'}}</button>
        <button type="button" class="btn btn-danger" (click)="pageListProduc()">Cancelar</button>
    </div>
</div>