<h3>PAPEL</h3>
<nav aria-label="breadcrumb" class="nav-xD d-flex justify-content-center">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/catalogos/arte">Arte</a></li>
      <li class="breadcrumb-item"><a href="/catalogos/escolares">Escolares</a></li>
      <li class="breadcrumb-item"><a href="/catalogos/oficina">Oficina</a></li>
      <li class="breadcrumb-item"><a href="/catalogos/manualidades">Manualidades</a></li>
      <li class="breadcrumb-item"><a href="/catalogos/lapices">Lápices</a></li>
      <li class="breadcrumb-item"><a class="item-s" href="/catalogos/papel">Papel</a></li>
      <li class="breadcrumb-item"><a href="/catalogos/didacticos">Didácticos</a></li>
      <li class="breadcrumb-item"><a href="/catalogos/adhesivos">Adhesivos</a></li>
    </ol>
  </nav>
<br>
<div>
  <div class="container cont-1">
      <div class="row">
        <div class="col-lg-2 col-md-4 col-sm-6 col-12">
          <div class="card">
              <img src="assets/img/catálogo/productos/Papel-1.PNG" class="card-img-top img-1" alt="...">
              <div class="card-body">
                <h5 class="card-title">Cartulina color Rosado 58x76cm</h5>
                <p class="card-text price">$25.00</p>
              </div>
              <div class="icon">
                <button type="button" class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="Añadir a la lista de deseos">
                    <img src="assets/img/corazón.svg" alt="">
                  </button>
              </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6 col-12">
          <div class="card">
              <img src="assets/img/catálogo/productos/Papel-2.PNG" class="card-img-top img-2" alt="...">
              <div class="card-body">
                  <h5 class="card-title">Papel Crepe color Rosado 2mx50cm</h5>
                  <p class="card-text price">$13.00</p>
              </div>
              <div class="icon">
                <button type="button" class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="Añadir a la lista de deseos">
                    <img src="assets/img/corazón.svg" alt="">
                  </button>
              </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6 col-12">
          <div class="card">
              <img src="assets/img/catálogo/productos/Papel-3.PNG" class="card-img-top img-3" alt="...">
              <div class="card-body">
                  <h5 class="card-title">Fomi Pascua Primavera tamaño carta - Azul Eléctrico</h5>
                  <p class="card-text price">$16.00</p>
              </div>
              <div class="icon">
                <button type="button" class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="Añadir a la lista de deseos">
                    <img src="assets/img/corazón.svg" alt="">
                  </button>
              </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6 col-12">
          <div class="card">
              <img src="assets/img/catálogo/productos/Papel-4.PNG" class="card-img-top img-4" alt="...">
              <div class="card-body">
                  <h5 class="card-title">Cartulina color Azul Celeste 58x76cm</h5>
                  <p class="card-text price">$25.00</p>
              </div>
              <div class="icon">
                <button type="button" class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="Añadir a la lista de deseos">
                    <img src="assets/img/corazón.svg" alt="">
                  </button>
              </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6 col-12">
          <div class="card">
              <img src="assets/img/catálogo/productos/Papel-5.PNG" class="card-img-top img-5" alt="...">
              <div class="card-body">
                  <h5 class="card-title">Cartulina color Amarillo 58x76cm</h5>
                  <p class="card-text price">$25.00</p>
              </div>
              <div class="icon">
                <button type="button" class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="Añadir a la lista de deseos">
                    <img src="assets/img/corazón.svg" alt="">
                  </button>
              </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6 col-12">
          <div class="card">
              <img src="assets/img/catálogo/productos/Papel-6.PNG" class="card-img-top img-6" alt="...">
              <div class="card-body">
                <h5 class="card-title">Cartulina color Verde Gamma 58x76cm</h5>
                <p class="card-text price">$25.00</p>
              </div>
              <div class="icon">
                <button type="button" class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="Añadir a la lista de deseos">
                    <img src="assets/img/corazón.svg" alt="">
                  </button>
              </div>
            </div>
        </div>
      </div>
  </div>
  <div class="container cont-1">
    <div class="row">
      <div class="col-lg-2 col-md-4 col-sm-6 col-12">
        <div class="card">
            <img src="assets/img/catálogo/productos/Papel-7.PNG" class="card-img-top img-1" alt="...">
            <div class="card-body">
              <h5 class="card-title">Cartulina Blanca 58x76cm</h5>
              <p class="card-text price">$25.00</p>
            </div>
            <div class="icon">
              <button type="button" class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="Añadir a la lista de deseos">
                  <img src="assets/img/corazón.svg" alt="">
                </button>
            </div>
          </div>
      </div>
      <div class="col-lg-2 col-md-4 col-sm-6 col-12">
        <div class="card">
            <img src="assets/img/catálogo/productos/Papel-2.PNG" class="card-img-top img-2" alt="...">
            <div class="card-body">
                <h5 class="card-title">Papel Crepe color Rosado 2mx50cm</h5>
                <p class="card-text price">$13.00</p>
            </div>
            <div class="icon">
              <button type="button" class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="Añadir a la lista de deseos">
                  <img src="assets/img/corazón.svg" alt="">
                </button>
            </div>
          </div>
      </div>
      <div class="col-lg-2 col-md-4 col-sm-6 col-12">
        <div class="card">
            <img src="assets/img/catálogo/productos/Papel-3.PNG" class="card-img-top img-3" alt="...">
            <div class="card-body">
                <h5 class="card-title">Fomi Pascua Primavera tamaño carta - Azul Eléctrico</h5>
                <p class="card-text price">$16.00</p>
            </div>
            <div class="icon">
              <button type="button" class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="Añadir a la lista de deseos">
                  <img src="assets/img/corazón.svg" alt="">
                </button>
            </div>
          </div>
      </div>
      <div class="col-lg-2 col-md-4 col-sm-6 col-12">
        <div class="card">
            <img src="assets/img/catálogo/productos/Papel-4.PNG" class="card-img-top img-4" alt="...">
            <div class="card-body">
                <h5 class="card-title">Cartulina color Azul Celeste 58x76cm</h5>
                <p class="card-text price">$25.00</p>
            </div>
            <div class="icon">
              <button type="button" class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="Añadir a la lista de deseos">
                  <img src="assets/img/corazón.svg" alt="">
                </button>
            </div>
          </div>
      </div>
      <div class="col-lg-2 col-md-4 col-sm-6 col-12">
        <div class="card">
            <img src="assets/img/catálogo/productos/Papel-5.PNG" class="card-img-top img-5" alt="...">
            <div class="card-body">
                <h5 class="card-title">Cartulina color Amarillo 58x76cm</h5>
                <p class="card-text price">$25.00</p>
            </div>
            <div class="icon">
              <button type="button" class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="Añadir a la lista de deseos">
                  <img src="assets/img/corazón.svg" alt="">
                </button>
            </div>
          </div>
      </div>
      <div class="col-lg-2 col-md-4 col-sm-6 col-12">
        <div class="card">
            <img src="assets/img/catálogo/productos/Papel-6.PNG" class="card-img-top img-6" alt="...">
            <div class="card-body">
              <h5 class="card-title">Cartulina color Verde Gamma 58x76cm</h5>
              <p class="card-text price">$25.00</p>
            </div>
            <div class="icon">
              <button type="button" class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="Añadir a la lista de deseos">
                  <img src="assets/img/corazón.svg" alt="">
                </button>
            </div>
          </div>
      </div>
    </div>
</div>
<div class="container cont-1">
  <div class="row">
    <div class="col-lg-2 col-md-4 col-sm-6 col-12">
      <div class="card">
          <img src="assets/img/catálogo/productos/Papel-1.PNG" class="card-img-top img-1" alt="...">
          <div class="card-body">
            <h5 class="card-title">Cartulina color Rosado 58x76cm</h5>
            <p class="card-text price">$25.00</p>
          </div>
          <div class="icon">
            <button type="button" class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="Añadir a la lista de deseos">
                <img src="assets/img/corazón.svg" alt="">
              </button>
          </div>
        </div>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-6 col-12">
      <div class="card">
          <img src="assets/img/catálogo/productos/Papel-2.PNG" class="card-img-top img-2" alt="...">
          <div class="card-body">
              <h5 class="card-title">Papel Crepe color Rosado 2mx50cm</h5>
              <p class="card-text price">$13.00</p>
          </div>
          <div class="icon">
            <button type="button" class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="Añadir a la lista de deseos">
                <img src="assets/img/corazón.svg" alt="">
              </button>
          </div>
        </div>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-6 col-12">
      <div class="card">
          <img src="assets/img/catálogo/productos/Papel-3.PNG" class="card-img-top img-3" alt="...">
          <div class="card-body">
              <h5 class="card-title">Fomi Pascua Primavera tamaño carta - Azul Eléctrico</h5>
              <p class="card-text price">$16.00</p>
          </div>
          <div class="icon">
            <button type="button" class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="Añadir a la lista de deseos">
                <img src="assets/img/corazón.svg" alt="">
              </button>
          </div>
        </div>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-6 col-12">
      <div class="card">
          <img src="assets/img/catálogo/productos/Papel-4.PNG" class="card-img-top img-4" alt="...">
          <div class="card-body">
              <h5 class="card-title">Cartulina color Azul Celeste 58x76cm</h5>
              <p class="card-text price">$25.00</p>
          </div>
          <div class="icon">
            <button type="button" class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="Añadir a la lista de deseos">
                <img src="assets/img/corazón.svg" alt="">
              </button>
          </div>
        </div>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-6 col-12">
      <div class="card">
          <img src="assets/img/catálogo/productos/Papel-5.PNG" class="card-img-top img-5" alt="...">
          <div class="card-body">
              <h5 class="card-title">Cartulina color Amarillo 58x76cm</h5>
              <p class="card-text price">$25.00</p>
          </div>
          <div class="icon">
            <button type="button" class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="Añadir a la lista de deseos">
                <img src="assets/img/corazón.svg" alt="">
              </button>
          </div>
        </div>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-6 col-12">
      <div class="card">
          <img src="assets/img/catálogo/productos/Papel-6.PNG" class="card-img-top img-6" alt="...">
          <div class="card-body">
            <h5 class="card-title">Cartulina color Verde Gamma 58x76cm</h5>
            <p class="card-text price">$25.00</p>
          </div>
          <div class="icon">
            <button type="button" class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="Añadir a la lista de deseos">
                <img src="assets/img/corazón.svg" alt="">
              </button>
          </div>
        </div>
    </div>
  </div>
</div>
</div>