<h3>PAPEL</h3>
<div class="card-grid">
  <!--<app-card [detallesP]="datallesCard" *ngFor="let datallesCard of cards"></app-card>-->
</div>
<nav aria-label="breadcrumb" class="nav-xD d-flex justify-content-center">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/catalogos/arte">Arte</a></li>
      <li class="breadcrumb-item"><a href="/catalogos/escolares">Escolares</a></li>
      <li class="breadcrumb-item"><a href="/catalogos/oficina">Oficina</a></li>
      <li class="breadcrumb-item"><a href="/catalogos/manualidades">Manualidades</a></li>
      <li class="breadcrumb-item"><a href="/catalogos/lapices">Lápices</a></li>
      <li class="breadcrumb-item"><a class="item-s" href="/catalogos/papel">Papel</a></li>
      <li class="breadcrumb-item"><a href="/catalogos/didacticos">Didácticos</a></li>
      <li class="breadcrumb-item"><a href="/catalogos/adhesivos">Adhesivos</a></li>
    </ol>
</nav>
