<div class="footer">
    <div class="contain">
        <div class="contT">
            <div class="cont">
                <img src="../../../assets/img/logoFooter.png" alt="" class="lgo">
                <p class="txtContac">
                    Número de Contacto<br>
                    9961090948
                </p>
                <p class="txtEmail">
                    e-mail<br>
                    papeleriaElCompas@hotmail.com
                </p>
            </div>
            <div class="contS"></div>
            <div class="cont">
                <div class="title">Categoría</div>
                <ul>
                    <li class="navF"><a href="">Adhesivo</a></li>
                    <li class="navF"><a href="">Escolar</a></li>
                    <li class="navF"><a href="">Oficina</a></li>
                    <li class="navF"><a href="">Arte</a></li>
                    <li class="navF"><a href="">Manualidades</a></li>
                </ul>
            </div>
            <div class="contS"></div>
            <div class="cont">
                <div class="title">Information</div>
                <ul>
                    <li class="navF"><a href="">About Us</a></li>
                    <li class="navF"><a href="">Contac Us</a></li>
                    <li class="navF"><a href="location">Location</a></li>
                    <li class="navF"><a href="">Privacy Policy</a></li>
                    <li class="navF"><a href="">Terms & Conditions</a></li>
                </ul>
            </div>
            <div class="contS"></div>
            <div class="cont">
                <div class="title">My Account</div>
                <ul>
                    <li class="navF"><a href="">My Account</a></li>
                    <li class="navF"><a href="">Wislist</a></li>
                    <li class="navF"><a href="">Compare</a></li>
                    <li class="navF"><a href="">My Favourites</a></li>
                    <li class="navF"><a href="">Shopping History</a></li>
                </ul>
            </div> 
        </div>
    </div>
</div>