<!-- Contenedor Principal -->
<div class="comments-container">
  <!--h1>Comentarios de clientes <a href="http://creaticode.com">Papeleria Compás</a></h1-->

  <ul id="comments-list" class="comments-list">
      <li>
          <div class="comment-main-level">
              <!-- Avatar -->
              <div class="comment-avatar"><img src="{{comments.user_image}}" alt="icon user"></div>
              <!-- Contenedor del Comentario -->
              <div class="comment-box">
                  <div class="comment-head">
                      <h6 class="comment-name by-author"><a href="http://creaticode.com/blog">{{comments.user_name}}</a></h6> <!-- nombre del wey -->
                      <span>{{comments.updated_at }}</span> <!-- Tiempo de edicción -->
                      <i class="fa fa-reply"></i>
                      <i class="fa fa-heart"></i>
                      <div class="valoracion">
                        <input id="radio1" type="radio" name="estrellas" value="5"><!--
                        --><label for="radio1">★</label><!--
                        --><input id="radio2" type="radio" name="estrellas" value="4"><!--
                        --><label for="radio2">★</label><!--
                        --><input id="radio3" type="radio" name="estrellas" value="3"><!--
                        --><label for="radio3">★</label><!--
                        --><input id="radio4" type="radio" name="estrellas" value="2"><!--
                        --><label for="radio4">★</label><!--
                        --><input id="radio5" type="radio" name="estrellas" value="1"><!--
                        --><label for="radio5">★</label>
                      </div>
                      
                  </div>
                  <div class="comment-content">{{comments.content }}</div>
              </div>
          </div>
      </li>
  </ul>
</div>
    
    
    