<!--Carrusel Promos-->
<div
  id="carouselExampleAutoplaying"
  class="carousel slide"
  data-bs-ride="carousel"
>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/assets/img/Banner_Promo_01.png" width="100%" height="100%" />
    </div>
    <div class="carousel-item">
      <img src="/assets/img/Banner_Promo_02.png" width="100%" height="100%" />
    </div>
    <div class="carousel-item">
      <img src="/assets/img/Banner_Promo_03.png" width="100%" height="100%" />
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExampleAutoplaying"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExampleAutoplaying"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<!--End Carrusel Promos-->
<br />
<!--Carrusel catálogo-->
<div id="carouselExample" class="carousel carousel-dark slide">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="container">
        <div class="row">
          <div class="col-3">
            <div class="card">
              <img
                src="assets/img/catálogo/papel.png"
                alt="Papel"
                class="card-img-top"
              />
              <div class="card-body text-cat">
                <a class="nav-link text-dark" (click)="showCategory(1)">
                  <h5 class="card-title">Papel</h5>
                </a>
              </div>
            </div>
          </div>
          <div class="col-3">
            <div class="card">
              <img
                src="assets/img/catálogo/escolares.jpeg"
                alt="Papel"
                class="card-img-top"
              />
              <div class="card-body text-cat">
                <a class="nav-link text-dark" (click)="showCategory(2)">
                  <h5 class="card-title">Escolares</h5>
                </a>
              </div>
            </div>
          </div>
          <div class="col-3">
            <div class="card">
              <img
                src="assets/img/catálogo/artes.jpg"
                alt="Artes"
                class="card-img-top"
              />
              <div class="card-body text-cat">
                <a class="nav-link text-dark" (click)="showCategory(3)">
                  <h5 class="card-title">Artes</h5>
                </a>
              </div>
            </div>
          </div>
          <div class="col-3">
            <div class="card">
              <img
                src="assets/img/catálogo/lapices.jpg"
                alt="Lapices"
                class="card-img-top"
              />
              <div class="card-body text-cat">
                <a class="nav-link text-dark" (click)="showCategory(4)">
                  <h5 class="card-title">Escritura</h5>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="container">
        <div class="row">
          <div class="col-3">
            <div class="card">
              <img
                src="assets/img/catálogo/oficina.jpg"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body text-cat">
                <a class="nav-link text-dark" (click)="showCategory(5)">
                  <h5 class="card-title">Oficina</h5>
                </a>
              </div>
            </div>
          </div>
          <div class="col-3">
            <div class="card">
              <img
                src="assets/img/catálogo/manualidades.jpg"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body text-cat">
                <a class="nav-link text-dark" (click)="showCategory(6)">
                  <h5 class="card-title">Manualidades</h5>
                </a>
              </div>
            </div>
          </div>
          <div class="col-3">
            <div class="card">
              <img
                src="assets/img/catálogo/didacticos.png"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body text-cat">
                <a class="nav-link text-dark" (click)="showCategory(7)">
                  <h5 class="card-title">Didácticos</h5>
                </a>
              </div> 
            </div>
          </div>
          <div class="col-3">
            <div class="card">
              <img
                src="assets/img/catálogo/ade.jpg"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body text-cat">
                <a class="nav-link text-dark" (click)="showCategory(8)">
                  <h5 class="card-title">Adhesivos</h5>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <button
    class="carousel-control-prev car-prev"
    type="button"
    data-bs-target="#carouselExample"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next car-next"
    type="button"
    data-bs-target="#carouselExample"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<!--End Carrusel catálogo ejemplo-->
<br>
  <!-- Contenido -->
  <p>productos más recientes:</p>
<div class="card-grid">
  <app-card [detallesP]="datallesCard" *ngFor="let datallesCard of cardsR"></app-card>
</div>
<!--
<p>comentarios:</p>
<div class="comentarios">
  <app-comment [comments]="comentariosEmp" *ngFor="let comentariosEmp of cardsC" ></app-comment>
</div>
-->