
/*Productos*/
.container_Pro {
    display: flex;
    //justify-content: center;
    justify-content: space-around; /* o space-between */
    align-items: center;
    height: 60vh; // Esto es opcional y establece la altura del contenedor al 100% del viewport height.
  }
  .custom-card {
    max-width: 300px; /* Cambia este valor según tus necesidades */
}


img_p {
    width: 40%;
    height: 40%;
  margin-left:auto;
  margin-right: auto;
  }
  
