<app-navbar></app-navbar>
<!--
<div id="carouselExample" class="carousel slide">
    <div class="carousel-inner">
      <div class="carousel-item">
        <svg class="bd-placeholder-img bd-placeholder-img-lg d-block w-100" width="800" height="400" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Second slide" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#666"></rect><text x="50%" y="50%" fill="#444" dy=".3em">First slide</text></svg>
      </div>
      <div class="carousel-item active">
        <svg class="bd-placeholder-img bd-placeholder-img-lg d-block w-100" width="800" height="400" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Second slide" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#666"></rect><text x="50%" y="50%" fill="#444" dy=".3em">Second slide</text></svg>
      </div>
      <div class="carousel-item">
        <svg class="bd-placeholder-img bd-placeholder-img-lg d-block w-100" width="800" height="400" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Third slide" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#555"></rect><text x="50%" y="50%" fill="#333" dy=".3em">Third slide</text></svg>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div-->
  <div class="slider-box">
    <div class="images">
      <ul>
        <li>
            <img src="assets/images/Recurso 3@4x.png" alt="...">
        </li>
        <li>
            <img src="assets/images/Recurso 4@4x.png" alt="...">
        </li>
        <li>
            <img src="assets/images/Recurso 5@4x.png" alt="...">
        </li>
      </ul>
    </div>
  </div>


  <div id="carouselExample" class="carousel carousel-dark slide">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="card-group">
          <a href="/">
            <div class="card" style="width: 18rem;">
              <img src="assets/images/catálogo/papel.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Papel</h5>
              </div>
            </div>
          </a>
          <a href="/">
            <div class="card" style="width: 18rem;">
              <img src="assets/images/catálogo/escolares.jpeg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Escolares</h5>
              </div>
            </div>
          </a>
          <a href="/">
            <div class="card" style="width: 18rem;">
              <img src="assets/images/catálogo/artes.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Artes</h5>
              </div>
            </div>
          </a>
          <a href="/">
            <div class="card" style="width: 18rem;">
              <img src="assets/images/catálogo/lapices.jpeg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Escritura</h5>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="carousel-item">
        <div class="card-group">
          <a href="/">
            <div class="card" style="width: 18rem;">
              <img src="assets/images/catálogo/oficina.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Oficina</h5>
              </div>
            </div>
          </a>
          <a href="/">
            <div class="card" style="width: 18rem;">
              <img src="assets/images/catálogo/manualidades.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Manualidades</h5>
              </div>
            </div>
          </a>
          <a href="/">
            <div class="card" style="width: 18rem;">
              <img src="assets/images/catálogo/didacticos.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Didácticos</h5>
              </div>
            </div>
          </a>
          <a href="/">
            <div class="card" style="width: 18rem;">
              <img src="assets/images/catálogo/ade.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Adhesivos</h5>
              </div>
            </div>
          </a>
        </div>
      </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>