<h3>ADHESIVOS</h3>
<nav aria-label="breadcrumb" class="nav-xD">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/catalogos/arte">Arte</a></li>
      <li class="breadcrumb-item"><a href="/catalogos/escolares">Escolares</a></li>
      <li class="breadcrumb-item"><a href="/catalogos/oficina">Oficina</a></li>
      <li class="breadcrumb-item"><a href="/catalogos/manualidades">Manualidades</a></li>
      <li class="breadcrumb-item"><a href="/catalogos/lapices">Lápices</a></li>
      <li class="breadcrumb-item"><a href="/catalogos/papel">Papel</a></li>
      <li class="breadcrumb-item"><a href="/catalogos/didacticos">Didácticos</a></li>
      <li class="breadcrumb-item"><a href="/catalogos/adhesivos">Adhesivos</a></li>
    </ol>
  </nav>
<br>
<div>
  <div class="container">
      <div class="row">
        <div class="col-lg-2 col-md-4 col-sm-6 col-12">
          <div class="card">
              <img src="assets/img/catálogo/productos/Ade-1.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">LAPIZ ADHESIVO 36 GRS KW 168035 168032 0803</h5>
                <p class="card-text price">$194.00</p>
              </div>
              <div class="icon">
                <button type="button" class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="Añadir a la lista de deseos">
                    <img src="assets/img/corazón.svg" alt="">
                  </button>
              </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6 col-12">
          <div class="card">
              <img src="assets/img/catálogo/productos/Ade-2.png" class="card-img-top" alt="...">
              <div class="card-body">
                  <h5 class="card-title">Pegamento Blanco - El Mer's 118ml</h5>
                  <p class="card-text price">$26.90</p>
              </div>
              <div class="icon">
                <button type="button" class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="Añadir a la lista de deseos">
                    <img src="assets/img/corazón.svg" alt="">
                  </button>
              </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6 col-12">
          <div class="card">
              <img src="assets/img/catálogo/productos/Ade-3.png" class="card-img-top" alt="...">
              <div class="card-body">
                  <h5 class="card-title">Pegamento Blanco Bully 110 gr</h5>
                  <p class="card-text price">$22.39</p>
              </div>
              <div class="icon">
                <button type="button" class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="Añadir a la lista de deseos">
                    <img src="assets/img/corazón.svg" alt="">
                  </button>
              </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6 col-12">
          <div class="card">
              <img src="assets/img/catálogo/productos/Ade-4.png" class="card-img-top" alt="...">
              <div class="card-body">
                  <h5 class="card-title">Cinta Canela 50 M LEADER</h5>
                  <p class="card-text price">$19.00</p>
              </div>
              <div class="icon">
                <button type="button" class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="Añadir a la lista de deseos">
                    <img src="assets/img/corazón.svg" alt="">
                  </button>
              </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6 col-12">
          <div class="card">
              <img src="assets/img/catálogo/productos/Ade-5.png" class="card-img-top" alt="...">
              <div class="card-body">
                  <h5 class="card-title">Cinta Eléctrica Vinílica de uso general, 19mm X 18m, GU18 3M</h5>
                  <p class="card-text price">$13.50</p>
              </div>
              <div class="icon">
                <button type="button" class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="Añadir a la lista de deseos">
                    <img src="assets/img/corazón.svg" alt="">
                  </button>
              </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6 col-12">
          <div class="card">
              <img src="assets/img/catálogo/productos/Ade-6.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Lapíz adhesivo pegamento en barra Dixon 36g - 117 MX</h5>
                <p class="card-text price">$30.00</p>
              </div>
              <div class="icon">
                <button type="button" class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="Añadir a la lista de deseos">
                    <img src="assets/img/corazón.svg" alt="">
                  </button>
              </div>
            </div>
        </div>
      </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-2 col-md-4 col-sm-6 col-12">
        <div class="card">
            <img src="assets/img/catálogo/productos/Ade-1.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">LAPIZ ADHESIVO 36 GRS KW 168035 168032 0803</h5>
              <p class="card-text price">$194.00</p>
            </div>
            <div class="icon">
              <button type="button" class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="Añadir a la lista de deseos">
                  <img src="assets/img/corazón.svg" alt="">
                </button>
            </div>
          </div>
      </div>
      <div class="col-lg-2 col-md-4 col-sm-6 col-12">
        <div class="card">
            <img src="assets/img/catálogo/productos/Ade-2.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Pegamento Blanco - El Mer's 118ml</h5>
                <p class="card-text price">$26.90</p>
            </div>
            <div class="icon">
              <button type="button" class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="Añadir a la lista de deseos">
                  <img src="assets/img/corazón.svg" alt="">
                </button>
            </div>
          </div>
      </div>
      <div class="col-lg-2 col-md-4 col-sm-6 col-12">
        <div class="card">
            <img src="assets/img/catálogo/productos/Ade-3.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Pegamento Blanco Bully 110 gr</h5>
                <p class="card-text price">$22.39</p>
            </div>
            <div class="icon">
              <button type="button" class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="Añadir a la lista de deseos">
                  <img src="assets/img/corazón.svg" alt="">
                </button>
            </div>
          </div>
      </div>
      <div class="col-lg-2 col-md-4 col-sm-6 col-12">
        <div class="card">
            <img src="assets/img/catálogo/productos/Ade-4.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Cinta Canela 50 M LEADER</h5>
                <p class="card-text price">$19.00</p>
            </div>
            <div class="icon">
              <button type="button" class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="Añadir a la lista de deseos">
                  <img src="assets/img/corazón.svg" alt="">
                </button>
            </div>
          </div>
      </div>
      <div class="col-lg-2 col-md-4 col-sm-6 col-12">
        <div class="card">
            <img src="assets/img/catálogo/productos/Ade-5.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Cinta Eléctrica Vinílica de uso general, 19mm X 18m, GU18 3M</h5>
                <p class="card-text price">$13.50</p>
            </div>
            <div class="icon">
              <button type="button" class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="Añadir a la lista de deseos">
                  <img src="assets/img/corazón.svg" alt="">
                </button>
            </div>
          </div>
      </div>
      <div class="col-lg-2 col-md-4 col-sm-6 col-12">
        <div class="card">
            <img src="assets/img/catálogo/productos/Ade-6.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Lapíz adhesivo pegamento en barra Dixon 36g - 117 MX</h5>
              <p class="card-text price">$30.00</p>
            </div>
            <div class="icon">
              <button type="button" class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="Añadir a la lista de deseos">
                  <img src="assets/img/corazón.svg" alt="">
                </button>
            </div>
          </div>
      </div>
    </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-lg-2 col-md-4 col-sm-6 col-12">
      <div class="card">
          <img src="assets/img/catálogo/productos/Ade-1.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">LAPIZ ADHESIVO 36 GRS KW 168035 168032 0803</h5>
            <p class="card-text price">$194.00</p>
          </div>
          <div class="icon">
            <button type="button" class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="Añadir a la lista de deseos">
                <img src="assets/img/corazón.svg" alt="">
              </button>
          </div>
        </div>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-6 col-12">
      <div class="card">
          <img src="assets/img/catálogo/productos/Ade-2.png" class="card-img-top" alt="...">
          <div class="card-body">
              <h5 class="card-title">Pegamento Blanco - El Mer's 118ml</h5>
              <p class="card-text price">$26.90</p>
          </div>
          <div class="icon">
            <button type="button" class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="Añadir a la lista de deseos">
                <img src="assets/img/corazón.svg" alt="">
              </button>
          </div>
        </div>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-6 col-12">
      <div class="card">
          <img src="assets/img/catálogo/productos/Ade-3.png" class="card-img-top" alt="...">
          <div class="card-body">
              <h5 class="card-title">Pegamento Blanco Bully 110 gr</h5>
              <p class="card-text price">$22.39</p>
          </div>
          <div class="icon">
            <button type="button" class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="Añadir a la lista de deseos">
                <img src="assets/img/corazón.svg" alt="">
              </button>
          </div>
        </div>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-6 col-12">
      <div class="card">
          <img src="assets/img/catálogo/productos/Ade-4.png" class="card-img-top" alt="...">
          <div class="card-body">
              <h5 class="card-title">Cinta Canela 50 M LEADER</h5>
              <p class="card-text price">$19.00</p>
          </div>
          <div class="icon">
            <button type="button" class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="Añadir a la lista de deseos">
                <img src="assets/img/corazón.svg" alt="">
              </button>
          </div>
        </div>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-6 col-12">
      <div class="card">
          <img src="assets/img/catálogo/productos/Ade-5.png" class="card-img-top" alt="...">
          <div class="card-body">
              <h5 class="card-title">Cinta Eléctrica Vinílica de uso general, 19mm X 18m, GU18 3M</h5>
              <p class="card-text price">$13.50</p>
          </div>
          <div class="icon">
            <button type="button" class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="Añadir a la lista de deseos">
                <img src="assets/img/corazón.svg" alt="">
              </button>
          </div>
        </div>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-6 col-12">
      <div class="card">
          <img src="assets/img/catálogo/productos/Ade-6.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Lapíz adhesivo pegamento en barra Dixon 36g - 117 MX</h5>
            <p class="card-text price">$30.00</p>
          </div>
          <div class="icon">
            <button type="button" class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="Añadir a la lista de deseos">
                <img src="assets/img/corazón.svg" alt="">
              </button>
          </div>
        </div>
    </div>
  </div>
</div>
</div>
