
.card{
    left: 2%;
    height: 330px;
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center;
    overflow: hidden;
    margin: 10px;
    position: relative;
    border: none;
    border-radius: 10%;
    background: rgba(223, 220, 220, 0.5);
}
.card:hover > img{
    transform: scale(1.1);
    background-color: rgb(71, 71, 71);
}
h3{
    text-align: center;
    background-color: aqua;
    padding: 2px 0 2px 0;
    font-size: 140%;

}
.container {
    max-width: 100%;
}
.nav-xD{
    background: black;
    padding-top: 10px;
 }
 .nav-xD .breadcrumb{
    align-items: center;
    justify-content: center;
 }
 .price{
    color: rgb(240, 105, 105);
 }
///Proporciones del card
 .cont-1 .card-img-top{
    width: 90%;
    height: 60%;
    transition: all 500ms ease-out;
 }
 .cont-1 .card-body{
    height: 30%;
 }
 .cont-1 .card-bt{
    height: 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;
 }
 .cont-1 .card-body .card-title{
    height: 60%;
    font-size: 1em;
 }
 .cont-1 .card-body .price{
    height: 20%;
 }
 .card-bt .btn{
    //margin-left: 10px;
    height: 80%;
    padding-top: 0;
    background-color: rgb(231, 135, 135);
    border: none;
    font-size: 80%;
 }
 .cont-1 .btn:hover{
    background-color: red;
 }
 //icono de lista de favoritos
 .icon{
    position: absolute;
    top: 10px;
    right: 10px;
    visibility: hidden;
}
.card:hover > .icon{
    visibility: visible;
}
 .cont-1 .icon button{
    border: none;
    background-color: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.cont-1 .icon button img{
    position:absolute;
    top: 12px;
    left: 10px;
    width: 20px; 
}
.cont-1 .icon:hover > .btn-primary{
    background-color: rgb(231, 135, 135);
}
//botones inferiores
.card-bt .btn-shop{
    margin-right: 10px;
}
.card-bt .tx-2{
    display: none;
}

//Responsividad
@media (max-width: 1350px){
    .cont-1 .card-body .card-title{
        font-size: 0.9em;
     }
}
@media (max-width: 1200px){
    .cont-1 .card-body .card-title{
        font-size: 0.8em;
    }
    .card-bt{
        font-size: 70%;
    }
    .card-bt .btn{
        padding-top: 3%;
        font-size: 100%;
    }
 }
 @media (max-width: 1130px){
    .cont-1 .card-body .card-title{
        font-size: 0.785em;
    }
    .card-bt{
        font-size: 70%;
    }
    .card-bt .btn{
        padding-top: 3%;
        font-size: 100%;
    }
    .card-bt .tx-1{
        display: none;
    }
    .card-bt .tx-2{
        display: inline-block;
    }
 }
 @media (max-width: 991px) {
    .card{
        height: 380px;
    }
    .card-body{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .card-bt .tx-2{
        display: none;
    }
    .card-bt .tx-1{
        display: inline-block;
    }
    .cont-1 .card-img-top{
        height: 70%;
     }
     .cont-1 .card-body .card-title{
        font-size: 1em;
     }
     .cont-1 .card-body .price{
        position: absolute;
        top: 10px;
        left: 20px;
        border-radius: 20%;
        color: wheat;
        background-color: rgb(240, 105, 105);
        font-size: 1.3em;
        height: 9%;
        padding: 0 5px 0 5px;
    }


 }
 @media (max-width: 767px) {
    .card{
        height: 390px;
    }
    .cont-1 .card-img-top{
        height: 70%;
     }
 } 
 @media (max-width: 576px) {
    .card{
        height: 440px;
        width: 70%;
        left: 13%;
    }
    .card .card-img-top{
        padding-top: 2%;
    }
    .card  .card-body .card-title{
        font-size: 1.3em;
    }
    .card-bt{
        padding-bottom: 4%;
    }
    .card-bt .btn{
        height: 110%;
        font-size: 130%;
    }
    .cont-1 .card-body .price{
        height: 8%;
    }
 } 

 .breadcrumb-item::before {
    margin: 0 0.5rem; /* Ajusta el espacio entre el divisor y el texto */
    color: white; /* Cambia el color de los divisores */
  }
 li a{
    text-decoration: none;
  }
  .item-s{
    color: red;
  }