<p>Pagos por Efectivo</p>
<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Oxxo</button>
      <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">7-Eleven</button>
      <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">BBVA Bancomer</button>
      <button class="nav-link" id="nav-disabled-tab" data-bs-toggle="tab" data-bs-target="#nav-disabled" type="button" role="tab" aria-controls="nav-disabled" aria-selected="false">Banamex</button>
    </div>
</nav>
  <div class="tab-content" id="nav-tabContent">
    <!-- Metodo de Pago OXXO -->
    <div class="container mt-5">
      <div class="row justify-content-center">
        <div class="col-md-6">
          <h2 class="mb-4">Pago por OXXO</h2>
          <form id="paymentForm">
            <div class="form-group">
              <label for="nombre">Nombre completo</label>
              <input type="text" class="form-control" id="nombre" placeholder="Ingresa tu nombre completo" required>
              <div id="nombreError" class="error-message"></div>
            </div>
            <div class="form-group">
              <label for="email">Correo electrónico</label>
              <input type="email" class="form-control" id="email" placeholder="Ingresa tu correo electrónico" required>
              <div id="emailError" class="error-message"></div>
            </div>
            <div class="form-group">
              <label for="telefono">Teléfono</label>
              <input type="tel" class="form-control" id="telefono" placeholder="Ingresa tu número de teléfono" required>
              <div id="telefonoError" class="error-message"></div>
            </div>
            <div class="form-group">
              <label for="monto">Monto a pagar</label>
              <input type="number" class="form-control" id="monto" placeholder="Ingresa el monto a pagar" min="1" required>
              <div id="montoError" class="error-message"></div>
            </div>
            <button type="submit" class="btn btn-primary">Generar Comprobante OXXO</button>
          </form>
        </div>
      </div>
    </div>
    <!-- Metodo de Pago 7leven -->
    <div class="tab-pane fade" id="7leven" role="tabpanel" aria-labelledby="nav-profile-tab" tabindex="0">...</div>
    <div class="tab-pane fade" id="BBVA Bancomer" role="tabpanel" aria-labelledby="nav-contact-tab" tabindex="0">...</div>
    <div class="tab-pane fade" id="Banamex" role="tabpanel" aria-labelledby="nav-disabled-tab" tabindex="0">...</div>
  </div>