<!-- Titulo del Encabezado -->
<nav class="navbar navbar-expand-lg navbar-light bg-transparent">
    <a class="navbar-brand" href="#">
      <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#697475" class="bi bi-chevron-left" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
      </svg>
    </a>
    <div class="container">
      <span class="navbar-text col-12" >{{category}}</span>
    </div>
  </nav>

<div class="card-grid">
    <app-card [detallesP]="datallesCard" *ngFor="let datallesCard of cards" (click)="selectCard(datallesCard)"></app-card>
</div>


<!--p>
    datos del card:
</p>

<div *ngIf="selectedCard">
    <p>{{ selectedCard.brand }}</p>
    <p>{{ selectedCard.description }}</p>
    <p>{{ selectedCard.id}}</p>
  </div-->