@import "~bootstrap/dist/css/bootstrap.css";
/* Estilos personalizados para el navbar */
.navbar {
    background-image: url('/src/assets/img/logo.png');
    background-size: cover;
    background-repeat: no-repeat;
  }

  .boton-c {
    background-color: #27e6ff;
    border: 1px solid #27e6ff;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border-radius:0 4px 4px 0; /* Curva las esquinas superiores */
  }
  
  .search-c {
    padding: 10px 20px;
    font-size: 16px;
    border: 1px solid #ffffff;
    border-radius:0px 0 0 0px; /* Curva las esquinas superiores */
  }
  
  .cate-c {
    padding: 11.5px 5px;
    font-size: 14px;
    border: 1px solid #ffffff;
    border-right: 2px solid rgb(102, 102, 102);
    border-radius:4px 0 0 4px; /* Curva las esquinas superiores */
  }

  .container-fluid img {
    width: 100px;
  }