<form class="row g-3 needs-validation mx-auto" novalidate>
  <!-- Proveedor -->
  <div class="col-md-12 position-relative">
    <label for="provee" class="form-label fw-bold">Proveedor</label>
    <input type="text" id="provee" class="form-control" placeholder="Papeleria Tony" required
    *ngIf="edit" [(ngModel)]="supplierInfo.business" (ngModelChange)="supplierInfo.business"
    [ngModelOptions]="{standalone: true}"/>
    <input type="text" name="bussines" [(ngModel)]="supplierInfo.business" id="provee"class="form-control" placeholder="Papeleria Tony" required *ngIf="!edit"/>
    <div class="invalid-tooltip">Ingrese el nombre de la compañia del proveedor</div>
  </div>

  <!-- Email -->
  <div class="col-md-7 position-relative">
    <label for="correo" class="form-label fw-bold">Correo Electrónico</label>
    <input type="email" class="form-control" id="correo" placeholder="admin.01@compas.com" required
    *ngIf="edit" [(ngModel)]="supplierInfo.email" (ngModelChange)="supplierInfo.email"
    [ngModelOptions]="{standalone: true}"/>
    <input type="email" name="email" [(ngModel)]="supplierInfo.email"  class="form-control" id="correo" placeholder="admin.01@compas.com" required *ngIf="!edit"/>
    <div class="invalid-tooltip">Ingrese un e-mail</div>
  </div>
  <!-- Telefono -->
  <div class="col-md-5 position-relative">
    <label for="number" class="form-label fw-bold">Telefono</label>
    <input type="text" onkeypress="return '0123456789'.includes(event.key)" class="form-control" id="number" placeholder="123 357 6518" required
    *ngIf="edit" [(ngModel)]="supplierInfo.phone" (ngModelChange)="supplierInfo.phone"
    [ngModelOptions]="{standalone: true}"maxLength="10"/>
    <input type="text" onkeypress="return '0123456789'.includes(event.key)" name="phone" [(ngModel)]="supplierInfo.phone"  class="form-control" id="number" placeholder="123 357 6518" required *ngIf="!edit" maxLength="10"/>
    <div class="invalid-tooltip">Telefono obligatorio</div>
  </div>
  <!-- Direccion -->
  <div class="col-md-12 position-relative">
    <label for="direc" class="form-label fw-bold">Dirección</label>
    <textarea type="text" class="form-control" id="direc" required
    *ngIf="edit" [(ngModel)]="supplierInfo.address" (ngModelChange)="supplierInfo.address"
    [ngModelOptions]="{standalone: true}"></textarea>
    <textarea type="text" name="address" [(ngModel)]="supplierInfo.address"  class="form-control" id="direc" required *ngIf="!edit"></textarea>
    <div class="invalid-tooltip">Falta agregar la dirección</div>
  </div>
  <div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <!-- Agregar-->
    <button class="btn btn-success col-3" type="submit" (click)="supplierAction()" data-bs-dismiss="modal">
      <i class="fa-solid fa-check"></i>
      {{mensaje}}
    </button>
    <!-- Cancelar-->
    <button type="button" class="btn btn-danger col-3" data-bs-dismiss="modal">
      <i class="fa-solid fa-xmark"></i>
      Close
    </button>
  </div>
</form>
