<h3>ARTE</h3>
<nav aria-label="breadcrumb" class="nav-xD">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/catalogos/arte">Arte</a></li>
      <li class="breadcrumb-item"><a href="/catalogos/escolares">Escolares</a></li>
      <li class="breadcrumb-item"><a href="/catalogos/oficina">Oficina</a></li>
      <li class="breadcrumb-item"><a href="/catalogos/manualidades">Manualidades</a></li>
      <li class="breadcrumb-item"><a href="/catalogos/lapices">Lápices</a></li>
      <li class="breadcrumb-item"><a href="/catalogos/papel">Papel</a></li>
      <li class="breadcrumb-item"><a href="/catalogos/didacticos">Didácticos</a></li>
      <li class="breadcrumb-item"><a href="/catalogos/adhesivos">Adhesivos</a></li>
    </ol>
  </nav>
<br>
<div>
    <div class="container">
        <div class="row">
          <div class="col-lg-2 col-md-4 col-sm-6 col-12">
            <div class="card">
                <img src="assets/img/catálogo/productos/Arte-1.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Acuarela infantil - Pelikan</h5>
                  <p class="card-text price">$30.00</p>
                </div>
                <div class="icon">
                  <button type="button" class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="Añadir a la lista de deseos">
                      <img src="assets/img/corazón.svg" alt="">
                    </button>
                </div>
              </div>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6 col-12">
            <div class="card">
                <img src="assets/img/catálogo/productos/Arte-2.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Acuarela 12 Pastillas Estuche Mariposa</h5>
                    <p class="card-text price">$27.00</p>
                </div>
                <div class="icon">
                  <button type="button" class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="Añadir a la lista de deseos">
                      <img src="assets/img/corazón.svg" alt="">
                    </button>
                </div>
              </div>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6 col-12">
            <div class="card">
                <img src="assets/img/catálogo/productos/Arte-3.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Acrilico Createx Prof Metalica 250ml </h5>
                    <p class="card-text price">$90.48</p>
                </div>
                <div class="icon">
                  <button type="button" class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="Añadir a la lista de deseos">
                      <img src="assets/img/corazón.svg" alt="">
                    </button>
                </div>
              </div>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6 col-12">
            <div class="card">
                <img src="assets/img/catálogo/productos/Arte-4.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Paquete 5 pinceles a555 BYP PP5</h5>
                    <p class="card-text price">$58.50</p>
                </div>
                <div class="icon">
                  <button type="button" class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="Añadir a la lista de deseos">
                      <img src="assets/img/corazón.svg" alt="">
                    </button>
                </div>
              </div>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6 col-12">
            <div class="card">
                <img src="assets/img/catálogo/productos/Arte-5.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Pincel Rodin S-815 #8 Plano</h5>
                    <p class="card-text price">$19.80</p>
                </div>
                <div class="icon">
                  <button type="button" class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="Añadir a la lista de deseos">
                      <img src="assets/img/corazón.svg" alt="">
                    </button>
                </div>
              </div>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6 col-12">
            <div class="card">
                <img src="assets/img/catálogo/productos/Arte-6.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Estuche con 12 Pastillas SMARTY</h5>
                  <p class="card-text price">$39.15</p>
                </div>
                <div class="icon">
                  <button type="button" class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="Añadir a la lista de deseos">
                      <img src="assets/img/corazón.svg" alt="">
                    </button>
                </div>
              </div>
          </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
          <div class="col-lg-2 col-md-4 col-sm-6 col-12">
            <div class="card">
                <img src="assets/img/catálogo/productos/Arte-1.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Acuarela infantil - Pelikan</h5>
                  <p class="card-text price">$30.00</p>
                </div>
                <div class="icon">
                  <button type="button" class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="Añadir a la lista de deseos">
                      <img src="assets/img/corazón.svg" alt="">
                    </button>
                </div>
              </div>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6 col-12">
            <div class="card">
                <img src="assets/img/catálogo/productos/Arte-2.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Acuarela 12 Pastillas Estuche Mariposa</h5>
                    <p class="card-text price">$27.00</p>
                </div>
                <div class="icon">
                  <button type="button" class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="Añadir a la lista de deseos">
                      <img src="assets/img/corazón.svg" alt="">
                    </button>
                </div>
              </div>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6 col-12">
            <div class="card">
                <img src="assets/img/catálogo/productos/Arte-3.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Acrilico Createx Prof Metalica 250ml </h5>
                    <p class="card-text price">$90.48</p>
                </div>
                <div class="icon">
                  <button type="button" class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="Añadir a la lista de deseos">
                      <img src="assets/img/corazón.svg" alt="">
                    </button>
                </div>
              </div>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6 col-12">
            <div class="card">
                <img src="assets/img/catálogo/productos/Arte-4.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Paquete 5 pinceles a555 BYP PP5</h5>
                    <p class="card-text price">$58.50</p>
                </div>
                <div class="icon">
                  <button type="button" class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="Añadir a la lista de deseos">
                      <img src="assets/img/corazón.svg" alt="">
                    </button>
                </div>
              </div>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6 col-12">
            <div class="card">
                <img src="assets/img/catálogo/productos/Arte-5.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Pincel Rodin S-815 #8 Plano</h5>
                    <p class="card-text price">$19.80</p>
                </div>
                <div class="icon">
                  <button type="button" class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="Añadir a la lista de deseos">
                      <img src="assets/img/corazón.svg" alt="">
                    </button>
                </div>
              </div>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6 col-12">
            <div class="card">
                <img src="assets/img/catálogo/productos/Arte-6.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Estuche con 12 Pastillas SMARTY</h5>
                  <p class="card-text price">$39.15</p>
                </div>
                <div class="icon">
                  <button type="button" class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="Añadir a la lista de deseos">
                      <img src="assets/img/corazón.svg" alt="">
                    </button>
                </div>
              </div>
          </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
          <div class="col-lg-2 col-md-4 col-sm-6 col-12">
            <div class="card">
                <img src="assets/img/catálogo/productos/Arte-1.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Acuarela infantil - Pelikan</h5>
                  <p class="card-text price">$30.00</p>
                </div>
                <div class="icon">
                  <button type="button" class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="Añadir a la lista de deseos">
                      <img src="assets/img/corazón.svg" alt="">
                    </button>
                </div>
              </div>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6 col-12">
            <div class="card">
                <img src="assets/img/catálogo/productos/Arte-2.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Acuarela 12 Pastillas Estuche Mariposa</h5>
                    <p class="card-text price">$27.00</p>
                </div>
                <div class="icon">
                  <button type="button" class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="Añadir a la lista de deseos">
                      <img src="assets/img/corazón.svg" alt="">
                    </button>
                </div>
              </div>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6 col-12">
            <div class="card">
                <img src="assets/img/catálogo/productos/Arte-3.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Acrilico Createx Prof Metalica 250ml </h5>
                    <p class="card-text price">$90.48</p>
                </div>
                <div class="icon">
                  <button type="button" class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="Añadir a la lista de deseos">
                      <img src="assets/img/corazón.svg" alt="">
                    </button>
                </div>
              </div>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6 col-12">
            <div class="card">
                <img src="assets/img/catálogo/productos/Arte-4.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Paquete 5 pinceles a555 BYP PP5</h5>
                    <p class="card-text price">$58.50</p>
                </div>
                <div class="icon">
                  <button type="button" class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="Añadir a la lista de deseos">
                      <img src="assets/img/corazón.svg" alt="">
                    </button>
                </div>
              </div>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6 col-12">
            <div class="card">
                <img src="assets/img/catálogo/productos/Arte-5.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Pincel Rodin S-815 #8 Plano</h5>
                    <p class="card-text price">$19.80</p>
                </div>
                <div class="icon">
                  <button type="button" class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="Añadir a la lista de deseos">
                      <img src="assets/img/corazón.svg" alt="">
                    </button>
                </div>
              </div>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6 col-12">
            <div class="card">
                <img src="assets/img/catálogo/productos/Arte-6.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Estuche con 12 Pastillas SMARTY</h5>
                  <p class="card-text price">$39.15</p>
                </div>
                <div class="icon">
                  <button type="button" class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="Añadir a la lista de deseos">
                      <img src="assets/img/corazón.svg" alt="">
                    </button>
                </div>
              </div>
          </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
          <div class="col-lg-2 col-md-4 col-sm-6 col-12">
            <div class="card">
                <img src="assets/img/catálogo/productos/Arte-1.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Acuarela infantil - Pelikan</h5>
                  <p class="card-text price">$30.00</p>
                </div>
                <div class="icon">
                  <button type="button" class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="Añadir a la lista de deseos">
                      <img src="assets/img/corazón.svg" alt="">
                    </button>
                </div>
              </div>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6 col-12">
            <div class="card">
                <img src="assets/img/catálogo/productos/Arte-2.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Acuarela 12 Pastillas Estuche Mariposa</h5>
                    <p class="card-text price">$27.00</p>
                </div>
                <div class="icon">
                  <button type="button" class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="Añadir a la lista de deseos">
                      <img src="assets/img/corazón.svg" alt="">
                    </button>
                </div>
              </div>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6 col-12">
            <div class="card">
                <img src="assets/img/catálogo/productos/Arte-3.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Acrilico Createx Prof Metalica 250ml </h5>
                    <p class="card-text price">$90.48</p>
                </div>
                <div class="icon">
                  <button type="button" class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="Añadir a la lista de deseos">
                      <img src="assets/img/corazón.svg" alt="">
                    </button>
                </div>
              </div>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6 col-12">
            <div class="card">
                <img src="assets/img/catálogo/productos/Arte-4.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Paquete 5 pinceles a555 BYP PP5</h5>
                    <p class="card-text price">$58.50</p>
                </div>
                <div class="icon">
                  <button type="button" class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="Añadir a la lista de deseos">
                      <img src="assets/img/corazón.svg" alt="">
                    </button>
                </div>
              </div>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6 col-12">
            <div class="card">
                <img src="assets/img/catálogo/productos/Arte-5.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Pincel Rodin S-815 #8 Plano</h5>
                    <p class="card-text price">$19.80</p>
                </div>
                <div class="icon">
                  <button type="button" class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="Añadir a la lista de deseos">
                      <img src="assets/img/corazón.svg" alt="">
                    </button>
                </div>
              </div>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6 col-12">
            <div class="card">
                <img src="assets/img/catálogo/productos/Arte-6.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Estuche con 12 Pastillas SMARTY</h5>
                  <p class="card-text price">$39.15</p>
                </div>
                <div class="icon">
                  <button type="button" class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="Añadir a la lista de deseos">
                      <img src="assets/img/corazón.svg" alt="">
                    </button>
                </div>
              </div>
          </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
          <div class="col-lg-2 col-md-4 col-sm-6 col-12">
            <div class="card">
                <img src="assets/img/catálogo/productos/Arte-1.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Acuarela infantil - Pelikan</h5>
                  <p class="card-text price">$30.00</p>
                </div>
                <div class="icon">
                  <button type="button" class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="Añadir a la lista de deseos">
                      <img src="assets/img/corazón.svg" alt="">
                    </button>
                </div>
              </div>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6 col-12">
            <div class="card">
                <img src="assets/img/catálogo/productos/Arte-2.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Acuarela 12 Pastillas Estuche Mariposa</h5>
                    <p class="card-text price">$27.00</p>
                </div>
                <div class="icon">
                  <button type="button" class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="Añadir a la lista de deseos">
                      <img src="assets/img/corazón.svg" alt="">
                    </button>
                </div>
              </div>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6 col-12">
            <div class="card">
                <img src="assets/img/catálogo/productos/Arte-3.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Acrilico Createx Prof Metalica 250ml </h5>
                    <p class="card-text price">$90.48</p>
                </div>
                <div class="icon">
                  <button type="button" class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="Añadir a la lista de deseos">
                      <img src="assets/img/corazón.svg" alt="">
                    </button>
                </div>
              </div>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6 col-12">
            <div class="card">
                <img src="assets/img/catálogo/productos/Arte-4.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Paquete 5 pinceles a555 BYP PP5</h5>
                    <p class="card-text price">$58.50</p>
                </div>
                <div class="icon">
                  <button type="button" class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="Añadir a la lista de deseos">
                      <img src="assets/img/corazón.svg" alt="">
                    </button>
                </div>
              </div>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6 col-12">
            <div class="card">
                <img src="assets/img/catálogo/productos/Arte-5.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Pincel Rodin S-815 #8 Plano</h5>
                    <p class="card-text price">$19.80</p>
                </div>
                <div class="icon">
                  <button type="button" class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="Añadir a la lista de deseos">
                      <img src="assets/img/corazón.svg" alt="">
                    </button>
                </div>
              </div>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6 col-12">
            <div class="card">
                <img src="assets/img/catálogo/productos/Arte-6.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Estuche con 12 Pastillas SMARTY</h5>
                  <p class="card-text price">$39.15</p>
                </div>
                <div class="icon">
                  <button type="button" class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="Añadir a la lista de deseos">
                      <img src="assets/img/corazón.svg" alt="">
                    </button>
                </div>
              </div>
          </div>
        </div>
    </div>
</div>