.card{
    left: 2%;
    height: 380px;
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center;
    overflow: hidden;
    margin: 10px;
    position: relative;
    //height: 50%;
    border: none;
    border-radius: 10%;
    //background: rgba(250, 248, 248, 0.5);
    background: rgba(223, 220, 220, 0.5);
    //background: none;
    

}
.card:hover > img{
    //border: solid rgb(134, 134, 134)
    //box-shadow: 0 5px 7px 0 rgb(0, 0,0);
    transform: scale(1.1);
    background-color: rgb(71, 71, 71);
}
.card-img-top{
    width: 90%;
    height: 100%;
    //background-color: rgb(218, 214, 214);
    transition: all 500ms ease-out;
    //background-color: none;
}
h3{
    text-align: center;
    background-color: aqua;
    padding: 2px 0 2px 0;
    font-size: 140%;

}
.icon{
    position: absolute;
    top: 10px;
    right: 10px;
    visibility: hidden;
}
.icon button{
    border: none;
    background-color: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.icon button img{
    position:absolute;
    top: 12px;
    left: 10px;
    width: 20px;
    
}
.card:hover > .icon{
    visibility: visible;
}
.card-body{
    border-radius: 10%;
    //background-color: none;
}
.container {
    max-width: 100%;
}

.container .card{
    height: 330px;
}
.nav-xD{
    padding-left: 27%;
 }