<nav class="navbar_1 navbar navbar-expand-lg">
    <div class="container-fluid">
      <!-- Logo-->
      <a class="navbar-brand col-1" href="home">
        <img class="logo" src="/assets/img/logo.png" width="120px"height="auto"/>
      </a>
  
      <!-- End Logo-->
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!-- Search Box-->
        <div class="d-flex col-6 ms-2">
          <div class="input-group form-container">
            <input
              type="text"
              name="search"
              class="form-control search-input"
              placeholder="Buscar Producto"
              [(ngModel)]="searchTerm"
              autofocus="autofocus"
              autocomplete="off"
            />
            <!-- Boton de buscar-->
            <span class="input-group-btn">
              <button class="btn btn-search" (click)="navigateToSearch()">
                <svg class="lupa" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50">
                  <path
                    class="lupita"
                    d="M 21 3 C 11.622998 3 4 10.623005 4 20 C 4 29.376995 11.622998 37 21 37 C 24.712383 37 28.139151 35.791079 30.9375 33.765625 L 44.085938 46.914062 L 46.914062 44.085938 L 33.886719 31.058594 C 36.443536 28.083 38 24.223631 38 20 C 38 10.623005 30.377002 3 21 3 z M 21 5 C 29.296122 5 36 11.703883 36 20 C 36 28.296117 29.296122 35 21 35 C 12.703878 35 6 28.296117 6 20 C 6 11.703883 12.703878 5 21 5 z">
                  </path>
                </svg>
              </button>
            </span>
            <!-- End Boton de buscar-->
          </div>
        </div>
        <!-- End Search Box-->
        <!-- Pedidos y envio-->
        <ul class=" navbar-nav me-2 mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-esp1 nav-link text-dark" target="_blank" href="https://www.estafeta.com/Herramientas/Rastreo">
              <img class="imagen-izquierda" src="/assets/img/shipping.svg" alt="Envios">
              Pedidos y<br/>Seguimiento
            </a>
            <a class="nav-esp2 nav-link text-dark">
              <img src="/assets/img/mexico.svg" alt="Bandera" width="30" height="auto">
              
              Envio a Todo Camino el Real
            </a>
          </li>
        </ul>
        <!-- End Pedidos y envio-->
  
        <!-- Llamanos-->
        <ul class="marg navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-esp2 nav-item">
            Llamanos
            <a class="nav-esp3 nav-link text-dark" target="_blank" href="https://api.whatsapp.com/send?phone=529961090948">
  
              <img src="/assets/img/phone.svg" alt="Llamanos" width="20" height="auto">
              +52 996 109 0948
            </a>
          </li>
        </ul>
        <!-- End Llamanos-->
  
        <!-- Right Navbar-->
        <ul class="navbar-nav navbar-right mb-2 mb-lg-0">
          <!-- Iniciar Sesion -->
          <li class="nav-item">
            <a class="nav-link text-dark" href="home/login">
              <img src="/assets/img/user_login.svg" alt="login" width="30" height="auto">
            </a>
          </li>
          <!-- End Iniciar Sesion -->
          <!-- Favoritos -->
          <li class="nav-item">
            <a class="nav-link text-dark" href="#">
              <img src="/assets/img/Heart.svg" alt="Favoritos" width="30" height="auto">
            </a>
          </li>
          <!-- End Favoritos -->
          <!-- Carrito -->
          <li class="nav-item">
            <button class="nav-link text-dark " type="button" (click)="pageCarr()"> <!-- data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight"> -->
              <img src="/assets/img/cart.svg" width="30" height="auto" alt="Carrito">
              Cart
            </button>
          </li>
          <!-- End Carrito -->
        </ul>
        <!-- End Right Navbar-->
      </div>
    </div>
  </nav>
  <!-- End Navbar -->

  <!-- Div del carrito -->
  <div class="containerCarr offcanvas offcanvas-end" id="offcanvasRight" tabindex="-1">
    <!-- Cabezera del contenedor -->
    <div class="cabezera">
      <h2 class="carrito"><a href="home/carrito" class="linkC">My cart</a></h2>
      <button type="button" class="btn-close cerrar" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <!-- Cuerpo de las compras -->
    <div class="body">
      <div class="producto">
        <!-- Imagen del Producto -->
        <div class="imageP">
          <img src="https://www.officedepot.com.mx/medias/91273.jpg-515ftw?context=bWFzdGVyfHJvb3R8ODc1MDB8aW1hZ2UvanBlZ3xoOGMvaDEzLzk5MDE0MzA4MDA0MTQuanBnfGFkM2I1MjNlNWY2ODA0ODkwNDZjMTUxNDNmYTQzMGEwNzJhMTc5NThiNDY5YTRjOWQyOTljNjdiNmFhNDk0YjA" alt="">
        </div>
        <!-- Descipcion del Producto -->
        <div class="descripcion">
          <div class="title-icon">
            <label for="" name="nombre">Memoria USB Adata UV128 / 128gb / USB 3.0 / Negro con azul</label>
            <i class="fa-regular fa-trash-can delete"></i>
          </div>
          <div class="precio">
            <label for="" name="price">Precio: $300.00 MXN</label>
          </div>
          <div class="cantidad">
            <button>-</button>
            <input type="text" value="1" id="cantidad">
            <button>+</button>
          </div>
          <div class="subtotal">
            <label for="" name="total" id="total">Subtotal: $300.00 MXN</label>
          </div>          
        </div>        
      </div>
    </div>
    <!-- Boton, Total y descuento -->
    <div class="footer">
      <!--<div class="cupon">
        <div class="col-sm">
          <input type="text" class="form-control" placeholder="Enter Discount Code">
        </div>
        <Button class="apply">Apply</Button>
      </div>
      <div class="total">
        <label name="subtotal" for="" id="total">Subtotal</label>
        <label name="precioAnterior" for="" id="subtotal">$52.10</label>
      </div>
      <div class="total corte">
        <label name="totalD" for="" id="total">Descuento</label>
        <label name="aplica" for="" id="descuento">No Aplica</label>
      </div>-->
      <div class="total">
        <label name="total" for="" id="total">Total de Compra</label>
        <label name="precio" for="" id="compra">$52.10</label>
      </div>
      <Button class="btn btn-info">Comprar</Button>
    </div>
  </div>