<div class="container" id="Login">
    <form action="" class="row g-3 needs-validation" novalidate>
        <div class="login">Login</div>

        <!-- Contenedor de Usuario -->
        <div class="loginUser">
            <!-- Datos login user -->
            <div class="col-md-4 userBox">
                <div class="input-group has-validation">
                    <div class="icon-user input-group-text bg-info">
                      <i class="fa-solid fa-user"style="color: #ffffff;"></i>
                    </div>
                    <input name="email" type="email" class="correo form-control user" id="validationCustom01" placeholder="Email" maxlength="75" required [(ngModel)]="Usuario.email">
                    <div class="invalid-feedback">
                        Ingrese el correo
                    </div>
                </div>
            </div>
            <!-- Dato login passowrd -->
            <div class="col-md-4 userpass userBox">
                <div class="input-group mt-1">
                    <div class="icon-password input-group-text bg-info">
                      <i class="fa-solid fa-key" style="color: #ffffff;"></i>
                    </div>
                    <input name="password" type="password" class="pass form-control" id="validationCustom02"  placeholder="Password" required [(ngModel)]="Usuario.password">
                    <div class="invalid-feedback">
                        Ingrese la contraseña
                    </div>
                </div>
            </div>
            <!-- Contenedor Inicio Activo y Recuperar Pass
            <div class="loginAct">
                Texto de recuperar password
                <div class="pt-1">
                    <a href="#" class="forPass">Forgot your password?</a>
                </div>
            </div> -->
        </div>
        <!-- Parte del recuperar pass con sesion iniciada -->
        <div class="d-flex justify-content-around mt-1 contDiv">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="">
                <label class="form-check-label" for="flexCheckDefault">
                    Remember me
                </label>
              </div>
            <div class="pt-1">
                <a href="#" class="forPass">Forgot your password?</a>
            </div>
        </div>
        <!-- Contenedor del botton y centrado -->
        <div class="contButton">
            <button type="submit" class="btn btn-primary btnLogin" (click)="loginUser()" >Login</button>
        </div>

        <div class="d-flex gap-1 justify-content-center mt-1">
            <div>Don't have an account?</div>
            <p class="register" id="newRegister">Register</p>
        </div>
    </form>
</div>

<div class="container2" id="Register">
    <div class="registroForm">
        <!-- Titulo -->
        <div class="registro">Registro del Usuario</div>
        <form class="row g-3 needs-validation" novalidate>
            <!-- Ingresar nombre -->
            <div class="col-md-4 validForm">
                <label for="validationCustom01" class="form-label">Nombre</label>
                <input name="name" type="text" class="form-control" id="validationCustom01" value="" placeholder="Name" maxlength="50" required [(ngModel)]="Usuario.name">
                <div class="invalid-feedback">
                  Ingrese su nombre
                </div>
              </div>
              <!-- Ingresar Apellido -->
              <div class="col-md-4 validForm">
                <label for="validationCustom02" class="form-label">Apellido</label>
                <input name="lastName" type="text" class="form-control" id="validationCustom02" value="" placeholder="Last Name" maxlength="50" required [(ngModel)]="Usuario.lastName">
                <div class="invalid-feedback">
                  Ingrese su apellido
                </div>
              </div>
              <!-- Correo Electronico -->
              <div class="col-md-4 validForm">
                <label for="validationCustomUsername" class="form-label">Correo Electronico</label>
                <div class="input-group has-validation">
                  <span class="input-group-text" id="inputGroupPrepend">@</span>
                  <input name="email" type="email" class="form-control" id="validationCustomUsername" aria-describedby="inputGroupPrepend" placeholder="email" maxlength="70" required [(ngModel)]="Usuario.email">
                  <div class="invalid-feedback">
                    Ingrese su correo electronico
                  </div>
                </div>
              </div>
              <!-- Password -->
              <div class="col-md-6 validForm">
                <label for="validationCustom03" class="form-label">Contraseña</label>
                <input name="password" type="password" class="form-control" id="validationCustom03" placeholder="Password" maxlength="30" required [(ngModel)]="Usuario.password">
                <div class="invalid-feedback">
                  Ingrese su contraseña
                </div>
              </div>
              <!-- Terminos y Condiciones -->
              <div class="col-12 validForm">
                <div class="form-check check">
                  <input name="conditional" class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
                  <label class="form-check-label" for="invalidCheck">
                    Al crear la cuenta, usted ha leido y aceptado nuestros terminos y condiciones
                  </label>
                  <div class="invalid-feedback">
                    You must agree before submitting.
                  </div>
                </div>
              </div>
              <!-- Boton de Validar -->
              <div class="col-12 button">
                <button class="btn btn-primary enviar" type="submit" (click)="newUser()" >Registrar</button>
              </div>
        </form>
    </div>
</div>