*{
    padding: 0;
    margin: 0;
}

//Estilos del div del contenedor Login
.container{
    width: 100%;
    max-width: 500px;
    border: 2px solid #E5E7E9;
    padding: 10px 15px;
    margin: 50px auto;
    border-radius: 15px;
}
.login{
    width: 100%;
    text-align: center;
    font-size: 3em;
    font-weight: bold;
}
/*Adaptadro icono al contenedor
.img-user{
    width: 100%;
    height: 100%;
}*/
//Icono de User y Password
.icon-user, .icon-password{
    padding: 3.5px;
    width: 25px;
}
.userBox{
    width: 100%;
    padding: 5px;
}
//Contenedor de Usuario y Contraseña
.loginUser{
    width: 70%;
    margin: 30px auto;
    margin-top: 25px;
    //background: #CCC;
}
.loginAct{
    width: 70%;
    margin: auto;
    text-align: center;
}
//Texto Forgot yout password
.forPass{
    text-decoration: none;
    font-style: italic;
    font-weight: bold;
    color: #000000;
    font-size: 12px;
}
.forPass:hover{
    color: rgba(0,0,0,0.7);
    text-decoration: underline;
}
//Estilo button
.contButton{
    width: 100%;
    text-align: center;
    margin: 25px 0px;

}
.btnLogin{
    font-size: 15px;   
    padding: 5px 20px;
    width: 50%;
}
.btnLogin:hover{
    box-shadow: 3px 0px 15px #0d6efd;
}
//Contenedor checkbox
.contDiv{
    width: 80%;
    margin: auto;
}
#Login .register{
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    cursor: pointer;
}
#Login .register:hover{
    color: #4E4E4E;
}
#Register{
    display: none;
}