.card{
    left: 2%;
    height: 330px;
    width: 150px;
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center;
    margin: 10px;
    position: relative;
    border: none;
    border-radius: 5%;
    background: rgba(223, 220, 220, 0.5);
}
.card:hover > img{
    transform: scale(1.1);
    //background-color: white
}
.card:hover{
    background-color: white;
    border: solid 2px rgb(71, 71, 71, 0.5);;
}

.card-sup{
    height: 20%;
    padding-top: 2%;
    width: 100%;
}
.card .marca{
    font-size: 0.8em;
    white-space: nowrap; /* Evita el salto de línea */
    text-overflow: ellipsis; /* Muestra puntos suspensivos (...) cuando el texto se recorta */
    overflow: hidden; 
}
.card-sup .card-title{
    height: 100%;
    color: rgba(3,78,83,1);
    font-size: 1em;
    margin-top: -1em;
    white-space: nowrap; /* Evita el salto de línea */
    text-overflow: ellipsis; /* Muestra puntos suspensivos (...) cuando el texto se recorta */
    overflow: hidden; 
}
.card-img-top{
    margin-top: -10%;
    width: 90%;
    height: 60%;
    transition: all 500ms ease-out;
 }
.card-inf{
    margin-top: 2%;
    display: flex;
    height: 10%;
    color: rgba(10,174,185,1);
    justify-content: space-around;
    align-items: center;
    
 }
 .card-inf span{
    margin-right: 20%;
    color: rgba(105,116,117,1);
    text-decoration: line-through;
 }
.card-bt{
    height: 10%;
    margin-bottom: 2%;
 }
 .card-bt .btn{
    width: 100%;
    height: 80%;
    background-color: rgba(21, 173, 183, 1);
    border: none;
    font-size: 80%;
    fill: white;
    display: flex;
    justify-content: center;
    align-items: center;
    //display: none; //ocultamos el boton de comprar 
 }
.card .btn:hover{
    background-color: red;
 }
 //icono de lista de favoritos
 .icon{
    position: absolute;
    top: 14%;
    right: 4px;
    visibility: hidden;
}
.card:hover > .icon{
    //visibility: visible;   //comentamos para posteriormente descomentar xD
    animation: tambalear 0.5s ease infinite alternate;
}
.icon button{
    border: none;
    background-color: rgba(10,174,185,1);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    fill: white;
}
.icon button .cora{
    position: relative;
    right: 4px;
    transition: transform 0.3s ease;
}
.card .icon:hover > .btn-primary{
    background-color: rgb(240, 105, 105);
}
//icon Offer
.icon-Offer{
    visibility: visible;
    top:-4%;
    right: -2%;
}
.icon-Offer svg{
    width: 40px !important;
    height: 40px !important;
    transition: transform 0.3s ease;
}
.card:hover > .icon-Offer svg{
    margin-top: -15%;
    width: 50px !important;
    height: 50px !important;
}
@keyframes tambalear {
    0% {
      transform: rotate(3deg);
    }
    100% {
      transform: rotate(-3deg);
    }
  }